In [1]:
import nba_py
import pandas as pd

from nba_py import game, player
from nba_py.player import PlayerList, PlayerCareer

In [2]:
# Get every player from 2000-2001 to 2016-2017

players2000 = PlayerList(season='2000-01').info()
players2001 = PlayerList(season='2001-02').info()
players2002 = PlayerList(season='2002-03').info()
players2003 = PlayerList(season='2003-04').info()
players2004 = PlayerList(season='2004-05').info()
players2005 = PlayerList(season='2005-06').info()
players2006 = PlayerList(season='2006-07').info()
players2007 = PlayerList(season='2007-08').info()
players2008 = PlayerList(season='2008-09').info()
players2009 = PlayerList(season='2009-10').info()
players2010 = PlayerList(season='2010-11').info()
players2011 = PlayerList(season='2011-12').info()
players2012 = PlayerList(season='2012-13').info()
players2013 = PlayerList(season='2013-14').info()
players2014 = PlayerList(season='2014-15').info()
players2015 = PlayerList(season='2015-16').info()
players2016 = PlayerList(season='2016-17').info()

In [3]:
list2000 = players2000['PERSON_ID'].tolist()
list2001 = players2001['PERSON_ID'].tolist()
list2002 = players2002['PERSON_ID'].tolist()
list2003 = players2003['PERSON_ID'].tolist()
list2004 = players2004['PERSON_ID'].tolist()
list2005 = players2005['PERSON_ID'].tolist()
list2006 = players2006['PERSON_ID'].tolist()
list2007 = players2007['PERSON_ID'].tolist()
list2008 = players2008['PERSON_ID'].tolist()
list2009 = players2009['PERSON_ID'].tolist()
list2010 = players2010['PERSON_ID'].tolist()
list2011 = players2011['PERSON_ID'].tolist()
list2012 = players2012['PERSON_ID'].tolist()
list2013 = players2013['PERSON_ID'].tolist()
list2014 = players2014['PERSON_ID'].tolist()
list2015 = players2015['PERSON_ID'].tolist()
list2016 = players2016['PERSON_ID'].tolist()

In [4]:
# Iterate through every player
ids = []
points = []
rebounds = []
assists = []
blocks = []
steals = []
turnovers = []
num_games = []
minutes_played = [] 
#team_names = []

In [5]:
# Append year 2000
for n in list2000:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    #team_names.append(player_totals.regular_season_totals().TEAM_ABBREVIATION)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)
    
#df_teams = pd.DataFrame({'Team Name:': team_names, 'Player Name': ids})

df_2000 = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [36]:
#df_2000 = df_2000[['Name', 'Total Points', 'Total Rebounds', 'Total Assists', 'Total Blocks', 'Total Steals', 'Total Turnovers', '# Games Played', 'Minutes Played']]

#df_2000

In [35]:
#df_teams

iterStats = iter(df_2000)
next(iterStats)
for i in range(0, df_2000['Total Points'].size):
    #print(i)
    for j in df_2000.loc[i]:
        print(j)
        #del j[::2]

0    Mahmoud Abdul-Rauf
dtype: object
0    14.1
1    10.3
2    19.2
3    18.0
4    16.0
5    19.2
6    13.7
7     7.3
8     6.5
Name: PTS, dtype: float64
0    1.8
1    1.4
2    2.8
3    2.1
4    1.9
5    2.4
6    1.6
7    1.2
8    0.6
Name: REB, dtype: float64
0    3.1
1    2.4
2    4.2
3    4.5
4    3.6
5    6.8
6    2.5
7    1.9
8    1.9
Name: AST, dtype: float64
0    0.1
1    0.0
2    0.1
3    0.1
4    0.1
5    0.1
6    0.1
7    0.0
8    0.0
Name: BLK, dtype: float64
0    0.8
1    0.5
2    1.0
3    1.0
4    1.1
5    1.1
6    0.7
7    0.5
8    0.2
Name: STL, dtype: float64
0    1.6
1    1.4
2    2.3
3    1.9
4    1.6
5    2.0
6    1.6
7    0.6
8    0.6
Name: TOV, dtype: float64
0    67
1    81
2    81
3    80
4    73
5    57
6    75
7    31
8    41
Name: GP, dtype: int64
0    22.5
1    19.0
2    33.5
3    32.7
4    28.5
5    35.6
6    28.4
7    17.1
8    11.8
Name: MIN, dtype: float64
0    Ike Austin
dtype: object
0      2.0
1      2.8
2      5.1
3      9.7
4     12.7
5     15.2
6     13.5
7      9.7
8      6.7
9      4.3
10     3.6
Name: PTS, dtype: float64
0     1.1
1     1.7
2     4.9
3     5.8
4     6.3
5     8.7
6     7.1
7     4.8
8     4.8
9     4.3
10    3.4
Name: REB, dtype: float64
0     0.2
1     0.1
2     1.2
3     1.2
4     1.7
5     3.4
6     2.2
7     1.8
8     1.3
9     1.1
10    0.6
Name: AST, dtype: float64
0     0.1
1     0.3
2     0.7
3     0.5
4     0.7
5     0.8
6     0.7
7     0.7
8     0.6
9     0.4
10    0.2
Name: BLK, dtype: float64
0     0.1
1     0.2
2     0.4
3     0.5
4     0.8
5     0.7
6     0.8
7     1.0
8     0.3
9     0.4
10    0.4
Name: STL, dtype: float64
0     0.3
1     0.5
2     1.2
3     2.0
4     2.3
5     3.4
6     2.6
7     2.3
8     1.8
9     1.0
10    0.5
Name: TOV, dtype: float64
0     31
1     46
2     14
3     82
4     52
5     26
6     78
7     49
8     59
9     52
10    21
Name: GP, dtype: int64
0      3.6
1      6.7
2     14.4
3     22.9
4     26.4
5     34.4
6     29.1
7     25.7
8     19.9
9     16.3
10    14.6
Name: MIN, dtype: float64
0    Corey Benjamin
dtype: object
0    3.8
1    7.7
2    4.7
3    4.4
Name: PTS, dtype: float64
0    1.3
1    1.8
2    1.5
3    3.4
Name: REB, dtype: float64
0    0.3
1    1.1
2    1.1
3    1.1
Name: AST, dtype: float64
0    0.3
1    0.5
2    0.2
3    0.2
Name: BLK, dtype: float64
0    0.4
1    0.6
2    0.4
3    0.1
Name: STL, dtype: float64
0    0.7
1    1.5
2    1.0
3    0.7
Name: TOV, dtype: float64
0    31
1    48
2    65
3     9
Name: GP, dtype: int64
0    10.3
1    18.0
2    13.2
3    16.7
Name: MIN, dtype: float64
0    David Benoit
dtype: object
0     5.6
1     8.1
2     6.5
3    10.4
4     8.2
5     5.3
6     5.8
7     5.5
8     3.6
Name: PTS, dtype: float64
0    3.8
1    4.8
2    4.7
3    5.2
4    4.7
5    2.7
6    2.6
7    2.6
8    1.7
Name: REB, dtype: float64
0    0.4
1    0.5
2    0.4
3    0.8
4    1.0
5    0.3
6    0.3
7    0.3
8    0.4
Name: AST, dtype: float64
0    0.6
1    0.5
2    0.7
3    0.7
4    0.6
5    0.3
6    0.2
7    0.3
8    0.1
Name: BLK, dtype: float64
0    0.2
1    0.5
2    0.4
3    0.6
4    0.5
5    0.5
6    0.4
7    0.5
8    0.1
Name: STL, dtype: float64
0    0.9
1    1.1
2    0.7
3    1.1
4    0.9
5    0.7
6    0.5
7    0.7
8    0.6
Name: TOV, dtype: float64
0    77
1    82
2    55
3    71
4    81
5    53
6    24
7    77
8    49
Name: GP, dtype: int64
0    15.1
1    20.9
2    19.5
3    25.9
4    24.2
5    15.1
6    13.5
7    14.6
8     9.1
Name: MIN, dtype: float64
0    Mookie Blaylock
dtype: object
0     10.1
1     14.1
2     13.8
3     13.4
4     13.8
5     17.2
6     15.7
7     17.4
8     13.2
9     13.3
10    11.3
11    11.0
12     3.4
Name: PTS, dtype: float64
0     2.8
1     3.5
2     3.7
3     3.5
4     5.2
5     4.9
6     4.1
7     5.3
8     4.9
9     4.7
10    3.7
11    3.9
12    1.5
Name: REB, dtype: float64
0     4.2
1     6.1
2     6.8
3     8.4
4     9.7
5     7.7
6     5.9
7     5.9
8     6.7
9     5.8
10    6.7
11    6.7
12    3.3
Name: AST, dtype: float64
0     0.3
1     0.6
2     0.6
3     0.3
4     0.5
5     0.3
6     0.2
7     0.3
8     0.3
9     0.2
10    0.3
11    0.3
12    0.1
Name: BLK, dtype: float64
0     1.6
1     2.3
2     2.4
3     2.5
4     2.6
5     2.5
6     2.6
7     2.7
8     2.6
9     2.1
10    2.0
11    2.4
12    0.7
Name: STL, dtype: float64
0     2.2
1     2.9
2     2.1
3     2.3
4     2.4
5     3.0
6     2.3
7     2.4
8     2.5
9     2.4
10    2.0
11    1.9
12    1.1
Name: TOV, dtype: float64
0     50
1     72
2     72
3     80
4     81
5     80
6     81
7     78
8     70
9     48
10    73
11    69
12    35
Name: GP, dtype: int64
0     25.3
1     35.9
2     35.4
3     35.3
4     36.0
5     38.4
6     35.7
7     39.2
8     38.6
9     36.7
10    33.7
11    34.1
12    17.1
Name: MIN, dtype: float64
0    Muggsy Bogues
dtype: object
0      5.0
1      5.4
2      9.4
3      7.0
4      8.9
5     10.0
6     10.8
7     11.1
8      2.3
9      8.0
10     3.0
11     5.8
12     5.7
13     5.1
14     5.1
15     0.0
Name: PTS, dtype: float64
0     1.7
1     2.1
2     2.6
3     2.7
4     2.9
5     3.7
6     4.1
7     3.3
8     1.2
9     2.2
10    0.5
11    2.2
12    2.2
13    2.0
14    1.7
15    1.0
Name: REB, dtype: float64
0      5.1
1      7.8
2     10.7
3      8.3
4      9.1
5      8.8
6     10.1
7      8.7
8      3.2
9      7.2
10     2.0
11     5.5
12     5.4
13     3.7
14     3.7
15     1.7
Name: AST, dtype: float64
0     0.0
1     0.1
2     0.0
3     0.0
4     0.1
5     0.1
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.1
12    0.0
13    0.0
14    0.1
15    0.0
Name: BLK, dtype: float64
0     1.6
1     1.4
2     2.0
3     1.7
4     2.1
5     2.0
6     1.7
7     1.3
8     0.3
9     1.3
10    1.0
11    1.1
12    1.1
13    1.2
14    0.8
15    0.7
Name: STL, dtype: float64
0     1.3
1     1.6
2     1.8
3     1.5
4     1.9
5     1.9
6     2.2
7     1.7
8     1.0
9     1.7
10    0.5
11    1.8
12    1.7
13    1.3
14    0.7
15    1.3
Name: TOV, dtype: float64
0     79
1     79
2     81
3     81
4     82
5     81
6     77
7     78
8      6
9     65
10     2
11    59
12    61
13    36
14    80
15     3
Name: GP, dtype: int64
0     20.6
1     22.2
2     33.9
3     28.4
4     34.0
5     35.0
6     35.7
7     33.7
8     12.8
9     28.9
10     8.0
11    26.3
12    25.7
13    19.8
14    21.6
15    11.2
Name: MIN, dtype: float64
0    Etdrick Bohannon
dtype: object
0    0.0
1    0.0
2    1.5
3    2.4
4    2.2
5    1.3
Name: PTS, dtype: float64
0    1.2
1    0.0
2    0.5
3    2.7
4    2.4
5    1.2
Name: REB, dtype: float64
0    0.2
1    0.0
2    0.0
3    0.5
4    0.4
5    0.0
Name: AST, dtype: float64
0    0.4
1    0.0
2    0.0
3    0.5
4    0.5
5    0.3
Name: BLK, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.2
4    0.2
5    0.0
Name: STL, dtype: float64
0    0.6
1    0.0
2    1.0
3    0.7
4    0.8
5    0.2
Name: TOV, dtype: float64
0     5
1     2
2     2
3    11
4    13
5     6
Name: GP, dtype: int64
0     2.2
1     2.0
2     2.5
3    10.3
4     9.1
5     3.0
Name: MIN, dtype: float64
0    Dee Brown
dtype: object
0      8.7
1     11.7
2     10.9
3     15.5
4     15.6
5     10.7
6      7.6
7      6.8
8     12.2
9      9.1
10    11.2
11     6.9
12     6.9
13     1.0
Name: PTS, dtype: float64
0     2.2
1     2.5
2     3.1
3     3.9
4     3.2
5     2.1
6     2.3
7     1.5
8     2.9
9     2.1
10    2.1
11    1.4
12    1.6
13    1.3
Name: REB, dtype: float64
0     4.2
1     5.3
2     5.8
3     4.5
4     3.8
5     2.2
6     3.2
7     1.3
8     3.3
9     2.1
10    2.9
11    2.3
12    1.7
13    0.3
Name: AST, dtype: float64
0     0.2
1     0.2
2     0.4
3     0.6
4     0.6
5     0.2
6     0.3
7     0.1
8     0.5
9     0.3
10    0.2
11    0.1
12    0.0
13    0.1
Name: BLK, dtype: float64
0     1.0
1     1.1
2     1.7
3     2.0
4     1.4
5     1.2
6     1.5
7     1.1
8     1.2
9     1.1
10    1.1
11    0.6
12    0.6
13    0.4
Name: STL, dtype: float64
0     1.7
1     1.9
2     1.7
3     1.6
4     1.8
5     1.1
6     1.1
7     0.8
8     1.3
9     1.0
10    1.6
11    1.0
12    1.0
13    0.6
Name: TOV, dtype: float64
0     82
1     31
2     80
3     77
4     79
5     65
6     21
7     41
8     31
9     72
10    49
11    38
12     7
13     7
Name: GP, dtype: int64
0     23.7
1     28.5
2     28.2
3     37.2
4     35.3
5     24.5
6     24.9
7     19.8
8     29.3
9     23.9
10    28.1
11    17.7
12    22.3
13     9.4
Name: MIN, dtype: float64
0    Matt Bullard
dtype: object
0     2.2
1     6.4
2     7.3
3     3.5
4     3.8
5     4.5
6     7.0
7     2.9
8     6.8
9     5.8
10    3.4
Name: PTS, dtype: float64
0     0.8
1     2.8
2     2.8
3     1.3
4     1.3
5     1.6
6     2.2
7     1.0
8     2.5
9     2.1
10    1.5
Name: REB, dtype: float64
0     0.1
1     0.9
2     1.4
3     1.0
4     0.4
5     0.9
6     0.9
7     0.4
8     1.1
9     0.7
10    0.5
Name: AST, dtype: float64
0     0.0
1     0.3
2     0.1
3     0.1
4     0.2
5     0.3
6     0.4
7     0.1
8     0.2
9     0.1
10    0.1
Name: BLK, dtype: float64
0     0.2
1     0.3
2     0.4
3     0.2
4     0.4
5     0.3
6     0.5
7     0.3
8     0.3
9     0.2
10    0.1
Name: STL, dtype: float64
0     0.2
1     0.7
2     0.7
3     0.4
4     0.5
5     0.5
6     0.6
7     0.3
8     0.6
9     0.2
10    0.4
Name: TOV, dtype: float64
0     18
1     80
2     79
3     65
4     46
5     71
6     67
7     41
8     56
9     61
10    31
Name: GP, dtype: int64
0      3.5
1     16.0
2     17.2
3     11.2
4     10.0
5     14.4
6     17.8
7     10.1
8     18.3
9     16.4
10    11.3
Name: MIN, dtype: float64
0    Scott Burrell
dtype: object
0     4.8
1    11.5
2    13.2
3     5.4
4     4.9
5     5.2
6     5.2
7     6.6
8     6.1
9     4.3
Name: PTS, dtype: float64
0    2.6
1    5.7
2    4.9
3    2.8
4    2.7
5    2.8
6    2.5
7    3.7
8    3.5
9    0.8
Name: REB, dtype: float64
0    1.2
1    2.5
2    2.4
3    1.4
4    1.2
5    1.3
6    0.8
7    1.4
8    1.0
9    0.3
Name: AST, dtype: float64
0    0.3
1    0.6
2    0.7
3    0.4
4    0.3
5    0.3
6    0.5
7    0.3
8    0.6
9    0.0
Name: BLK, dtype: float64
0    0.7
1    1.2
2    1.4
3    0.5
4    0.5
5    0.5
6    0.8
7    1.3
8    0.9
9    0.8
Name: STL, dtype: float64
0    0.9
1    1.3
2    2.2
3    0.9
4    1.0
5    0.9
6    0.6
7    0.7
8    0.5
9    0.0
Name: TOV, dtype: float64
0    51
1    65
2    20
3    28
4    29
5    57
6    80
7    32
8    74
9     4
Name: GP, dtype: int64
0    15.0
1    31.0
2    34.7
3    17.2
4    15.8
5    16.5
6    13.7
7    22.1
8    18.1
9    10.0
Name: MIN, dtype: float64
0    Chris Carr
dtype: object
0    4.0
1    6.1
2    9.9
3    2.1
4    6.6
5    5.3
6    5.6
7    9.8
8    9.3
9    4.8
Name: PTS, dtype: float64
0    1.7
1    2.1
2    3.0
3    1.1
4    2.1
5    1.8
6    1.9
7    3.2
8    3.0
9    1.3
Name: REB, dtype: float64
0    0.7
1    0.9
2    1.7
3    0.6
4    0.6
5    0.6
6    0.4
7    1.6
8    1.5
9    0.3
Name: AST, dtype: float64
0    0.1
1    0.2
2    0.2
3    0.1
4    0.0
5    0.1
6    0.1
7    0.3
8    0.3
9    0.1
Name: BLK, dtype: float64
0    0.2
1    0.4
2    0.3
3    0.1
4    0.3
5    0.2
6    0.0
7    0.6
8    0.5
9    0.1
Name: STL, dtype: float64
0    0.7
1    0.7
2    1.4
3    0.4
4    0.9
5    0.7
6    0.7
7    2.2
8    2.1
9    0.5
Name: TOV, dtype: float64
0    60
1    55
2    51
3    11
4    28
5    39
6     7
7    50
8    57
9    35
Name: GP, dtype: int64
0     9.8
1    15.1
2    22.8
3     7.4
4    13.0
5    11.4
6    10.6
7    21.8
8    20.5
9     8.8
Name: MIN, dtype: float64
0    Duane Causwell
dtype: object
0     6.9
1     8.0
2     8.2
3     4.4
4     3.6
5     3.4
6     2.6
7     2.4
8     2.3
9     2.6
10    2.5
Name: PTS, dtype: float64
0     5.1
1     7.3
2     5.5
3     4.5
4     3.0
5     3.4
6     2.8
7     2.7
8     1.8
9     1.9
10    2.7
Name: REB, dtype: float64
0     0.9
1     0.7
2     0.6
3     0.3
4     0.3
5     0.3
6     0.4
7     0.1
8     0.1
9     0.1
10    0.2
Name: AST, dtype: float64
0     1.9
1     2.7
2     1.6
3     1.2
4     1.4
5     1.1
6     0.8
7     0.7
8     0.6
9     0.6
10    0.6
Name: BLK, dtype: float64
0     0.6
1     0.6
2     0.6
3     0.5
4     0.2
5     0.4
6     0.3
7     0.2
8     0.0
9     0.1
10    0.3
Name: STL, dtype: float64
0     1.3
1     1.6
2     1.1
3     0.8
4     0.6
5     0.7
6     0.7
7     0.5
8     0.9
9     0.4
10    0.7
Name: TOV, dtype: float64
0     76
1     80
2     55
3     41
4     58
5     73
6     46
7     37
8     19
9     25
10    31
Name: GP, dtype: int64
0     22.6
1     28.6
2     22.0
3     16.4
4     14.1
5     14.3
6     12.6
7      9.8
8      7.2
9      7.4
10    12.4
Name: MIN, dtype: float64
0    Cedric Ceballos
dtype: object
0      8.2
1      7.2
2     12.8
3     19.1
4     21.7
5     21.2
6     10.8
7     15.3
8     14.6
9      9.5
10    16.9
11    11.4
12    12.5
13    16.6
14     5.8
15     6.9
16     6.5
Name: PTS, dtype: float64
0     2.4
1     2.4
2     5.5
3     6.5
4     8.0
5     6.9
6     6.6
7     6.6
8     6.6
9     4.3
10    6.0
11    4.7
12    6.5
13    6.7
14    2.0
15    3.0
16    2.7
Name: REB, dtype: float64
0     0.6
1     0.8
2     1.0
3     1.7
4     1.8
5     1.5
6     1.9
7     1.2
8     1.3
9     1.0
10    2.1
11    1.3
12    0.9
13    1.3
14    0.5
15    0.5
16    0.5
Name: AST, dtype: float64
0     0.1
1     0.2
2     0.4
3     0.4
4     0.3
5     0.3
6     0.8
7     0.4
8     0.5
9     0.2
10    0.7
11    0.3
12    0.4
13    0.3
14    0.2
15    0.1
16    0.2
Name: BLK, dtype: float64
0     0.3
1     0.3
2     0.7
3     1.1
4     1.0
5     1.2
6     0.6
7     0.7
8     0.7
9     0.6
10    0.9
11    0.7
12    0.5
13    0.8
14    0.5
15    0.4
16    0.4
Name: STL, dtype: float64
0     1.1
1     1.1
2     1.4
3     1.8
4     2.5
5     2.1
6     2.1
7     1.6
8     1.7
9     1.1
10    2.8
11    1.5
12    2.2
13    1.8
14    0.7
15    0.9
16    0.8
Name: TOV, dtype: float64
0     63
1     64
2     74
3     53
4     58
5     78
6      8
7     42
8     50
9     35
10    12
11    47
12    13
13    69
14    13
15    27
16    40
Name: GP, dtype: int64
0     11.6
1     11.3
2     21.7
3     30.2
4     35.0
5     33.7
6     34.9
7     27.3
8     28.5
9     17.9
10    30.3
11    21.1
12    27.1
13    29.9
14    12.6
15    14.5
16    13.9
Name: MIN, dtype: float64
0    Keith Closs
dtype: object
0    4.0
1    2.1
2    4.2
Name: PTS, dtype: float64
0    2.9
1    1.7
2    3.1
Name: REB, dtype: float64
0    0.3
1    0.0
2    0.4
Name: AST, dtype: float64
0    1.4
1    0.6
2    1.3
Name: BLK, dtype: float64
0    0.2
1    0.2
2    0.2
Name: STL, dtype: float64
0    0.7
1    0.4
2    0.6
Name: TOV, dtype: float64
0    58
1    15
2    57
Name: GP, dtype: int64
0    12.8
1     5.8
2    14.4
Name: MIN, dtype: float64
0    John Coker
dtype: object
0    1.6
1    2.2
2    0.3
Name: PTS, dtype: float64
0    0.4
1    1.6
2    0.8
Name: REB, dtype: float64
0    0.2
1    0.0
2    0.3
Name: AST, dtype: float64
0    0.2
1    0.1
2    0.0
Name: BLK, dtype: float64
0    0.0
1    0.1
2    0.2
Name: STL, dtype: float64
0    0.0
1    0.1
2    0.3
Name: TOV, dtype: float64
0     5
1    14
2     6
Name: GP, dtype: int64
0    2.2
1    7.0
2    5.3
Name: MIN, dtype: float64
0    Sean Colson
dtype: object
0    0.0
1    1.5
2    1.2
Name: PTS, dtype: float64
0    1.0
1    0.3
2    0.5
Name: REB, dtype: float64
0    1.0
1    0.7
2    0.8
Name: AST, dtype: float64
0    0.0
1    0.0
2    0.0
Name: BLK, dtype: float64
0    0.0
1    0.1
2    0.1
Name: STL, dtype: float64
0    0.7
1    0.0
2    0.2
Name: TOV, dtype: float64
0     3
1    10
2    13
Name: GP, dtype: int64
0    5.1
1    3.0
2    3.4
Name: MIN, dtype: float64
0    Tyrone Corbin
dtype: object
0      4.0
1      8.9
2      4.0
3      6.4
4      7.3
5      7.7
6      7.4
7      8.2
8     14.7
9     18.0
10    14.4
11     9.0
12     9.8
13    11.6
14     8.0
15     6.2
16     6.4
17     4.6
18     5.8
19     9.5
20    10.2
21     7.5
22     4.1
23     1.3
Name: PTS, dtype: float64
0     1.6
1     3.8
2     3.0
3     3.4
4     4.1
5     4.3
6     4.2
7     5.2
8     7.4
9     7.2
10    6.3
11    5.8
12    5.9
13    6.3
14    4.7
15    3.2
16    3.7
17    3.0
18    3.4
19    4.2
20    4.6
21    3.1
22    3.1
23    0.9
Name: REB, dtype: float64
0     0.7
1     2.6
2     0.5
3     1.5
4     1.0
5     2.0
6     1.4
7     1.5
8     2.6
9     4.2
10    3.0
11    1.6
12    1.8
13    2.1
14    1.5
15    0.8
16    1.2
17    1.0
18    1.2
19    1.8
20    2.2
21    0.9
22    1.1
23    0.3
Name: AST, dtype: float64
0     0.1
1     0.1
2     0.1
3     0.1
4     0.3
5     0.1
6     0.2
7     0.2
8     0.5
9     0.6
10    0.5
11    0.2
12    0.3
13    0.4
14    0.3
15    0.2
16    0.3
17    0.1
18    0.3
19    0.1
20    0.1
21    0.1
22    0.1
23    0.0
Name: BLK, dtype: float64
0     0.7
1     1.2
2     0.5
3     0.9
4     0.8
5     1.0
6     0.9
7     1.1
8     2.1
9     2.0
10    1.1
11    1.0
12    1.0
13    1.3
14    1.2
15    0.7
16    1.0
17    0.7
18    0.9
19    1.3
20    1.3
21    0.7
22    0.7
23    0.1
Name: STL, dtype: float64
0     0.8
1     1.5
2     0.6
3     1.0
4     1.2
5     1.3
6     1.2
7     1.2
8     1.7
9     2.5
10    2.4
11    1.0
12    1.2
13    1.3
14    1.1
15    0.9
16    1.0
17    0.8
18    0.9
19    1.2
20    1.1
21    0.9
22    0.5
23    0.2
Name: TOV, dtype: float64
0     16
1     31
2     32
3     63
4     54
5     30
6     84
7     77
8     82
9     82
10    11
11    69
12    80
13    82
14    82
15    81
16    49
17    22
18    71
19    70
20    79
21    47
22    54
23    15
Name: GP, dtype: int64
0     10.9
1     23.6
2     13.7
3     18.6
4     21.3
5     19.7
6     20.7
7     21.5
8     36.7
9     39.0
10    31.3
11    27.0
12    27.6
13    31.2
14    26.2
15    17.1
16    19.0
17    16.1
18    18.1
19    32.9
20    34.2
21    22.7
22    17.4
23     7.8
Name: MIN, dtype: float64
0    John Crotty
dtype: object
0     2.6
1     2.9
2     3.7
3     3.0
4     4.8
5     3.7
6     4.0
7     6.1
8     5.9
9     4.7
10    2.1
11    6.9
12    3.4
Name: PTS, dtype: float64
0     0.4
1     0.7
2     1.2
3     0.9
4     1.0
5     1.2
6     0.3
7     1.3
8     1.1
9     1.1
10    0.9
11    1.8
12    1.3
Name: REB, dtype: float64
0     1.4
1     1.7
2     2.6
3     1.8
4     2.1
5     2.4
6     1.7
7     2.4
8     2.3
9     1.9
10    1.1
11    3.4
12    2.4
Name: AST, dtype: float64
0     0.0
1     0.0
2     0.1
3     0.1
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.1
10    0.0
11    0.0
12    0.0
Name: BLK, dtype: float64
0     0.3
1     0.3
2     0.5
3     0.4
4     0.4
5     0.4
6     0.7
7     0.4
8     0.4
9     0.4
10    0.2
11    0.5
12    0.3
Name: STL, dtype: float64
0     0.8
1     0.6
2     0.9
3     0.9
4     0.9
5     1.6
6     0.0
7     1.4
8     1.2
9     0.8
10    0.6
11    1.2
12    0.8
Name: TOV, dtype: float64
0     40
1     45
2     80
3     58
4     48
5     26
6      3
7     24
8     27
9     69
10    31
11    41
12    12
Name: GP, dtype: int64
0      6.1
1      7.0
2     12.7
3     10.6
4     13.7
5     14.6
6      6.3
7     15.1
8     14.1
9     13.6
10     8.5
11    19.5
12    15.0
Name: MIN, dtype: float64
0    Bill Curley
dtype: object
0    2.7
1    3.1
2    2.2
3    3.0
4    2.7
5    2.7
6    0.6
7    4.0
8    3.2
Name: PTS, dtype: float64
0    2.3
1    2.5
2    1.5
3    2.0
4    1.8
5    1.8
6    0.0
7    2.5
8    1.9
Name: REB, dtype: float64
0    0.5
1    0.4
2    0.4
3    0.0
4    0.6
5    0.5
6    0.0
7    0.2
8    0.2
Name: AST, dtype: float64
0    0.4
1    0.1
2    0.3
3    0.0
4    0.2
5    0.1
6    0.2
7    0.5
8    0.5
Name: BLK, dtype: float64
0    0.4
1    0.3
2    0.5
3    0.5
4    0.5
5    0.5
6    0.2
7    0.4
8    0.4
Name: STL, dtype: float64
0    0.5
1    0.3
2    0.3
3    1.0
4    0.7
5    0.8
6    0.4
7    0.9
8    0.8
Name: TOV, dtype: float64
0    53
1    11
2    35
3     4
4    24
5    28
6     5
7    15
8    20
Name: GP, dtype: int64
0    11.2
1    13.3
2    10.6
3    12.5
4    10.8
5    11.0
6     2.9
7    11.8
8     9.6
Name: MIN, dtype: float64
0    Kornel David
dtype: object
0    6.2
1    6.5
2    1.8
3    5.6
4    2.5
5    2.0
6    2.3
Name: PTS, dtype: float64
0    3.5
1    2.8
2    1.3
3    2.5
4    1.9
5    1.9
6    1.9

Name: REB, dtype: float64
0      7.1
1     10.0
2      8.6
3      6.9
4      4.8
5      3.7
6      2.8
7      1.5
8      1.6
9      3.8
10     1.5
11     0.3
12     0.3
Name: AST, dtype: float64
0     0.1
1     0.1
2     0.2
3     0.2
4     0.1
5     0.2
6     0.1
7     0.1
8     0.0
9     0.1
10    0.0
11    0.0
12    0.0
Name: BLK, dtype: float64
0     2.0
1     2.5
2     1.5
3     1.8
4     1.4
5     1.5
6     0.9
7     0.8
8     0.6
9     0.8
10    0.5
11    0.3
12    0.0
Name: STL, dtype: float64
0     3.6
1     4.7
2     3.1
3     2.4
4     1.7
5     1.7
6     1.3
7     1.0
8     1.0
9     1.1
10    0.0
11    0.7
12    0.0
Name: TOV, dtype: float64
0     71
1     44
2     68
3     78
4     74
5     78
6     33
7     47
8     28
9     22
10     2
11     3
12     4
Name: GP, dtype: int64
0     27.1
1     34.8
2     31.0
3     26.3
4     21.9
5     19.7
6     14.2
7     12.7
8     13.0
9     16.3
10     3.5
11     8.0
12     4.3
Name: MIN, dtype: float64
0    A.C. Green
dtype: object
0      6.4
1     10.8
2     11.4
3     13.3
4     12.9
5      9.1
6     13.6
7     12.8
8     14.7
9     11.2
10     7.5
11     5.7
12     7.9
13     7.2
14     7.3
15     4.9
16     5.0
17     4.5
Name: PTS, dtype: float64
0     4.6
1     7.8
2     8.7
3     9.0
4     8.7
5     6.3
6     9.3
7     8.7
8     9.2
9     8.2
10    6.8
11    5.1
12    9.3
13    7.9
14    8.1
15    4.6
16    5.9
17    3.8
Name: REB, dtype: float64
0     0.7
1     1.1
2     1.1
3     1.3
4     1.1
5     0.9
6     1.4
7     1.4
8     1.7
9     1.5
10    0.9
11    0.6
12    0.9
13    0.8
14    1.5
15    0.5
16    1.0
17    0.5
Name: AST, dtype: float64
0     0.6
1     1.0
2     0.5
3     0.7
4     0.6
5     0.3
6     0.4
7     0.5
8     0.5
9     0.4
10    0.3
11    0.0
12    0.3
13    0.2
14    0.3
15    0.2
16    0.2
17    0.1
Name: BLK, dtype: float64
0     0.6
1     0.9
2     1.1
3     1.1
4     0.8
5     0.7
6     1.1
7     1.1
8     0.9
9     0.7
10    0.5
11    0.7
12    0.9
13    0.8
14    1.0
15    0.6
16    0.6
17    0.4
Name: STL, dtype: float64
0     1.2
1     1.3
2     1.5
3     1.5
4     1.4
5     1.2
6     1.4
7     1.4
8     1.2
9     1.4
10    1.0
11    0.7
12    1.0
13    0.9
14    0.8
15    0.4
16    0.6
17    0.5
Name: TOV, dtype: float64
0     82
1     79
2     82
3     82
4     82
5     82
6     82
7     82
8     82
9     82
10    82
11    27
12    56
13    83
14    82
15    50
16    82
17    82
Name: GP, dtype: int64
0     18.8
1     28.4
2     32.1
3     30.6
4     33.0
5     26.4
6     35.4
7     34.4
8     34.5
9     32.8
10    25.8
11    20.3
12    34.7
13    30.0
14    32.3
15    18.5
16    23.5
17    17.2
Name: MIN, dtype: float64
0    Tom Hammonds
dtype: object
0      5.3
1      5.2
2     11.9
3      2.3
4      5.9
5      4.6
6      4.1
7      5.9
8      4.8
9      6.2
10     6.1
11     4.3
12     2.1
13     1.0
Name: PTS, dtype: float64
0     2.8
1     2.9
2     5.0
3     1.6
4     2.7
5     2.4
6     2.7
7     3.2
8     3.1
9     5.0
10    4.8
11    2.8
12    1.8
13    0.6
Name: REB, dtype: float64
0     0.8
1     0.6
2     1.0
3     0.4
4     0.5
5     0.4
6     0.5
7     0.5
8     0.3
9     0.8
10    0.6
11    0.4
12    0.2
13    0.1
Name: AST, dtype: float64
0     0.2
1     0.1
2     0.4
3     0.2
4     0.2
5     0.2
6     0.2
7     0.2
8     0.2
9     0.3
10    0.3
11    0.1
12    0.1
13    0.0
Name: BLK, dtype: float64
0     0.2
1     0.2
2     0.6
3     0.0
4     0.5
5     0.3
6     0.3
7     0.2
8     0.3
9     0.2
10    0.3
11    0.2
12    0.1
13    0.0
Name: STL, dtype: float64
0     0.8
1     0.8
2     1.6
3     0.2
4     0.9
5     0.6
6     0.6
7     0.8
8     0.7
9     1.1
10    0.8
11    0.7
12    0.4
13    0.4
Name: TOV, dtype: float64
0     61
1     70
2     37
3     19
4     35
5     54
6     74
7     70
8     71
9     81
10    57
11    49
12    56
13     7
Name: GP, dtype: int64
0     13.2
1     14.6
2     26.6
3      7.5
4     16.3
5     13.2
6     11.9
7     13.7
8     14.7
9     21.7
10    20.0
11    14.6
12     6.6
13     4.3
Name: MIN, dtype: float64
0    Tim Hardaway
dtype: object
0     14.7
1     22.9
2     23.4
3     21.5
4     20.1
5     14.1
6     17.2
7     15.2
8     20.3
9     18.9
10    17.4
11    13.4
12    14.9
13     9.6
14     9.6
15     9.6
16     4.9
Name: PTS, dtype: float64
0     3.9
1     4.0
2     3.8
3     4.0
4     3.1
5     2.5
6     3.5
7     2.9
8     3.4
9     3.7
10    3.2
11    2.9
12    2.6
13    1.8
14    1.9
15    1.8
16    1.5
Name: REB, dtype: float64
0      8.7
1      9.7
2     10.0
3     10.6
4      9.3
5      6.9
6     10.0
7      8.0
8      8.6
9      8.3
10     7.3
11     7.4
12     6.3
13     3.7
14     5.5
15     4.1
16     2.4
Name: AST, dtype: float64
0     0.2
1     0.1
2     0.2
3     0.2
4     0.2
5     0.2
6     0.2
7     0.2
8     0.1
9     0.2
10    0.1
11    0.1
12    0.1
13    0.1
14    0.1
15    0.1
16    0.0
Name: BLK, dtype: float64
0     2.1
1     2.6
2     2.0
3     1.8
4     1.4
5     1.4
6     2.1
7     1.7
8     1.9
9     1.7
10    1.2
11    0.9
12    1.2
13    0.7
14    1.2
15    0.8
16    0.9
Name: STL, dtype: float64
0     3.3
1     3.3
2     3.3
3     3.3
4     3.5
5     2.4
6     3.9
7     2.9
8     2.8
9     2.8
10    2.7
11    2.3
12    2.5
13    1.4
14    2.7
15    1.6
16    1.1
Name: TOV, dtype: float64
0     79
1     82
2     81
3     66
4     62
5     52
6     28
7     80
8     81
9     81
10    48
11    52
12    77
13    54
14    14
15    68
16    10
Name: GP, dtype: int64
0     33.7
1     39.2
2     41.1
3     39.5
4     37.4
5     28.6
6     37.4
7     31.7
8     38.7
9     37.4
10    36.9
11    32.2
12    33.9
13    23.6
14    23.2
15    23.5
16    12.6
Name: MIN, dtype: float64
0    Ron Harper
dtype: object
0     22.9
1     15.4
2     18.6
3     22.0
4     23.0
5     22.8
6     19.6
7     18.2
8     18.0
9     20.1
10     6.9
11     7.4
12     6.3
13     9.3
14    11.2
15     7.0
16     6.5
Name: PTS, dtype: float64
0     4.8
1     3.9
2     5.0
3     6.9
4     5.6
5     5.9
6     4.8
7     5.5
8     5.3
9     6.1
10    2.3
11    2.7
12    2.5
13    3.5
14    5.1
15    4.2
16    3.5
Name: REB, dtype: float64
0     4.8
1     4.9
2     5.3
3     7.0
4     4.8
5     5.2
6     5.4
7     5.1
8     4.5
9     4.6
10    2.0
11    2.6
12    2.5
13    2.9
14    3.3
15    3.4
16    2.4
Name: AST, dtype: float64
0     1.0
1     0.9
2     0.9
3     1.3
4     1.1
5     1.2
6     0.9
7     0.9
8     0.9
9     0.7
10    0.4
11    0.4
12    0.5
13    0.6
14    1.0
15    0.5
16    0.5
Name: BLK, dtype: float64
0     2.5
1     2.1
2     2.3
3     2.0
4     2.4
5     2.3
6     1.7
7     1.9
8     2.2
9     1.9
10    1.3
11    1.3
12    1.1
13    1.3
14    1.7
15    1.1
16    0.8
Name: STL, dtype: float64
0     4.2
1     2.8
2     2.8
3     2.6
4     2.9
5     2.9
6     3.3
7     3.1
8     2.8
9     3.2
10    1.3
11    0.9
12    0.7
13    1.1
14    1.9
15    1.7
16    1.3
Name: TOV, dtype: float64
0     82
1     57
2     82
3      7
4     28
5     35
6     39
7     82
8     80
9     75
10    77
11    80
12    76
13    82
14    35
15    80
16    47
Name: GP, dtype: int64
0     37.4
1     32.1
2     34.8
3     37.4
4     39.5
5     39.1
6     35.5
7     38.3
8     37.1
9     38.1
10    19.9
11    23.6
12    22.9
13    27.9
14    31.6
15    25.5
16    24.2
Name: MIN, dtype: float64
0    Hersey Hawkins
dtype: object
0     15.1
1     18.5
2     22.1
3     19.0
4     20.3
5     14.4
6     14.3
7     15.6
8     13.9
9     10.5
10    10.3
11     7.9
12     3.1
Name: PTS, dtype: float64
0     2.8
1     3.7
2     3.9
3     3.3
4     4.3
5     4.6
6     3.8
7     3.6
8     3.9
9     4.1
10    4.0
11    2.9
12    1.4
Name: REB, dtype: float64
0     3.0
1     3.2
2     3.7
3     3.1
4     3.9
5     2.6
6     3.2
7     2.7
8     3.0
9     2.7
10    2.5
11    2.2
12    1.2
Name: AST, dtype: float64
0     0.5
1     0.3
2     0.5
3     0.5
4     0.4
5     0.3
6     0.2
7     0.2
8     0.1
9     0.2
10    0.4
11    0.2
12    0.2
Name: BLK, dtype: float64
0     1.5
1     1.6
2     2.2
3     1.9
4     1.7
5     1.6
6     1.5
7     1.8
8     1.9
9     1.8
10    1.6
11    1.2
12    0.6
Name: STL, dtype: float64
0     2.0
1     2.3
2     2.7
3     2.3
4     2.2
5     1.9
6     1.8
7     2.0
8     1.6
9     1.2
10    1.6
11    1.6
12    0.3
Name: TOV, dtype: float64
0     79
1     82
2     80
3     81
4     81
5     82
6     82
7     82
8     82
9     82
10    50
11    61
12    59
Name: GP, dtype: int64
0     32.6
1     34.8
2     38.9
3     37.2
4     36.8
5     32.3
6     33.3
7     34.4
8     33.6
9     31.7
10    32.9
11    26.6
12    11.5
Name: MIN, dtype: float64
0    Michael Hawkins
dtype: object
0    2.8
1    1.5
2    0.7
3    0.8
Name: PTS, dtype: float64
0    1.1
1    1.0
2    0.6
3    0.5
Name: REB, dtype: float64
0    2.2
1    1.1
2    1.1
3    1.3
Name: AST, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
Name: BLK, dtype: float64
0    0.6
1    0.1
2    0.0
3    0.2
Name: STL, dtype: float64
0    1.0
1    0.5
2    0.3
3    0.6
Name: TOV, dtype: float64
0    29
1    24
2    12
3    10
Name: GP, dtype: int64
0    11.2
1     8.5
2     3.0
3     7.5
Name: MIN, dtype: float64
0    Chris Herren
dtype: object
0    3.1
1    3.3
Name: PTS, dtype: float64
0    1.2
1    0.8
Name: REB, dtype: float64
0    2.5
1    2.2
Name: AST, dtype: float64
0    0.0
1    0.0
Name: BLK, dtype: float64
0    0.3
1    0.6
Name: STL, dtype: float64
0    0.9
1    0.8
Name: TOV, dtype: float64
0    45
1    25
Name: GP, dtype: int64
0    13.3
1    16.3
Name: MIN, dtype: float64
0    Sam Jacobson
dtype: object
0    4.0
1    3.3
2    5.0
3    4.9
4    1.4
Name: PTS, dtype: float64
0    1.5
1    0.3
2    1.4
3    1.4
4    0.4
Name: REB, dtype: float64
0    0.0
1    0.7
2    0.6
3    0.6
4    0.3
Name: AST, dtype: float64
0    0.0
1    0.0
2    0.1
3    0.1
4    0.0
Name: BLK, dtype: float64
0    0.0
1    0.3
2    0.6
3    0.6
4    0.2
Name: STL, dtype: float64
0    0.5
1    0.7
2    0.6
3    0.6
4    0.0
Name: TOV, dtype: float64
0     2
1     3
2    49
3    52
4    14
Name: GP, dtype: int64
0     6.0
1     6.0
2    13.5
3    13.1
4     4.1
Name: MIN, dtype: float64
0    Larry Johnson
dtype: object
0    19.2
1    22.1
2    16.4
3    18.8
4    20.5
5    12.8
6    15.5
7    12.0
8    10.7
9     9.9
Name: PTS, dtype: float64
0    11.0
1    10.5
2     8.8
3     7.2
4     8.4
5     5.2
6     5.7
7     5.8
8     5.4
9     5.6
Name: REB, dtype: float64
0    3.6
1    4.3
2    3.6
3    4.6
4    4.4
5    2.3
6    2.1
7    2.4
8    2.5
9    2.0
Name: AST, dtype: float64
0    0.6
1    0.3
2    0.3
3    0.3
4    0.5
5    0.5
6    0.2
7    0.2
8    0.1
9    0.4
Name: BLK, dtype: float64
0    1.0
1    0.6
2    0.6
3    1.0
4    0.7
5    0.8
6    0.6
7    0.7
8    0.6
9    0.6
Name: STL, dtype: float64
0    2.0
1    2.8
2    2.3
3    2.6
4    2.2
5    1.8
6    1.8
7    1.8
8    1.3
9    1.5
Name: TOV, dtype: float64
0    82
1    82
2    51
3    81
4    81
5    76
6    70
7    49
8    70
9    65
Name: GP, dtype: int64
0    37.2
1    40.5
2    34.5
3    39.9
4    40.4
5    34.4
6    34.5
7    33.4
8    32.6
9    32.4
Name: MIN, dtype: float64
0    Garth Joseph
dtype: object
0    1.0
1    0.0
2    0.5
Name: PTS, dtype: float64
0    1.0
1    0.0
2    0.5
Name: REB, dtype: float64
0    0.5
1    0.0
2    0.3
Name: AST, dtype: float64
0    0.0
1    0.5
2    0.3
Name: BLK, dtype: float64
0    0.0
1    0.0
2    0.0
Name: STL, dtype: float64
0    0.5
1    0.5
2    0.5
Name: TOV, dtype: float64
0    2
1    2
2    4
Name: GP, dtype: int64
0    4.1
1    3.8
2    3.9
Name: MIN, dtype: float64
0    Adam Keefe
dtype: object
0    6.6
1    4.3
2    6.1
3    6.1
4    3.8
5    7.8
6    4.0
7    2.2
8    2.5
Name: PTS, dtype: float64
0    5.3
1    3.2
2    4.4
3    5.5
4    3.5
5    5.5
6    3.2
7    2.2
8    3.1
Name: REB, dtype: float64
0    1.0
1    0.5
2    0.4
3    0.8
4    0.5
5    1.1
6    0.6
7    0.5
8    0.5
Name: AST, dtype: float64
0    0.2
1    0.1
2    0.3
3    0.5
4    0.2
5    0.3
6    0.3
7    0.2
8    0.3
Name: BLK, dtype: float64
0    0.7
1    0.3
2    0.5
3    0.6
4    0.5
5    0.7
6    0.4
7    0.3
8    0.4
Name: STL, dtype: float64
0    1.2
1    1.0
2    0.8
3    1.1
4    0.7
5    0.9
6    0.8
7    0.7
8    0.6
Name: TOV, dtype: float64
0    82
1    63
2    75
3    82
4    62
5    80
6    44
7    62
8    67
Name: GP, dtype: int64
0    18.9
1    12.1
2    16.9
3    20.8
4    14.8
5    25.6
6    14.6
7     9.7
8    12.5
Name: MIN, dtype: float64
0    Jerome Kersey
dtype: object
0      6.1
1      8.5
2     12.3
3     19.2
4     17.5
5     16.0
6     14.8
7     12.6
8     10.6
9      6.5
10     8.1
11     6.7
12     6.8
13     6.3
14     3.2
15     4.5
16     3.3
Name: PTS, dtype: float64
0     2.7
1     3.7
2     6.0
3     8.3
4     8.3
5     8.4
6     6.6
7     8.2
8     6.2
9     4.2
10    4.1
11    4.8
12    5.2
13    3.6
14    2.9
15    3.1
16    2.0
Name: REB, dtype: float64
0     0.8
1     1.1
2     2.4
3     3.1
4     3.2
5     2.3
6     3.1
7     3.2
8     1.9
9     1.0
10    1.3
11    1.5
12    1.3
13    1.2
14    0.9
15    1.0
16    0.7
Name: AST, dtype: float64
0     0.4
1     0.4
2     0.9
3     0.8
4     1.1
5     0.8
6     1.0
7     0.9
8     0.6
9     0.6
10    0.6
11    0.6
12    0.7
13    0.4
14    0.3
15    0.7
16    0.4
Name: BLK, dtype: float64
0     0.6
1     1.1
2     1.5
3     1.6
4     1.8
5     1.5
6     1.4
7     1.5
8     1.2
9     0.9
10    0.8
11    1.2
12    1.7
13    1.4
14    0.8
15    0.9
16    0.6
Name: STL, dtype: float64
0     0.9
1     1.4
2     1.8
3     2.0
4     2.2
5     1.8
6     2.0
7     2.0
8     1.3
9     0.8
10    1.0
11    1.0
12    1.1
13    1.0
14    0.7
15    0.7
16    0.3
Name: TOV, dtype: float64
0     77
1     79
2     82
3     79
4     76
5     82
6     73
7     77
8     65
9     78
10    63
11    76
12    70
13    37
14    45
15    72
16    22
Name: GP, dtype: int64
0     12.4
1     15.4
2     25.5
3     36.6
4     35.7
5     34.7
6     32.3
7     33.2
8     26.4
9     16.4
10    18.1
11    21.3
12    25.2
13    19.4
14    15.5
15    18.2
16    11.1
Name: MIN, dtype: float64
0    Lari Ketner
dtype: object
0    1.7
1    1.5
2    1.5
3    0.0
Name: PTS, dtype: float64
0    1.2
1    1.7
2    1.5
3    0.0
Name: REB, dtype: float64
0    0.2
1    0.0
2    0.0
3    0.3
Name: AST, dtype: float64
0    0.2
1    0.1
2    0.1
3    0.0
Name: BLK, dtype: float64
0    0.2
1    0.2
2    0.2
3    0.0
Name: STL, dtype: float64
0    0.5
1    0.4
2    0.5
3    0.7
Name: TOV, dtype: float64
0     6
1    16
2    22
3     3
Name: GP, dtype: int64
0    6.8
1    5.7
2    6.0
3    2.0
Name: MIN, dtype: float64
0    Gerard King
dtype: object
0    1.2
1    5.3
2    4.8
Name: PTS, dtype: float64
0    0.7
1    4.0
2    2.9
Name: REB, dtype: float64
0    0.2
1    0.8
2    0.7
Name: AST, dtype: float64
0    0.1
1    0.2
2    0.2
Name: BLK, dtype: float64
0    0.1
1    0.5
2    0.3
Name: STL, dtype: float64
0    0.2
1    0.7
2    1.0
Name: TOV, dtype: float64
0    19
1    62
2    45
Name: GP, dtype: int64
0     3.3
1    17.1
2    15.7
Name: MIN, dtype: float64
0    Luc Longley
dtype: object
0      4.3
1      5.8
2      6.6
3      7.6
4      6.9
5      6.5
6      9.1
7      9.1
8     11.4
9      8.7
10     6.3
11     2.0
Name: PTS, dtype: float64
0     3.9
1     4.4
2     6.0
3     5.1
4     5.7
5     4.8
6     5.1
7     5.6
8     5.9
9     5.7
10    4.5
11    2.6
Name: REB, dtype: float64
0     0.8
1     0.9
2     0.9
3     2.3
4     1.4
5     1.3
6     1.9
7     2.4
8     2.8
9     1.2
10    1.1
11    0.3
Name: AST, dtype: float64
0     1.0
1     1.4
2     1.2
3     0.8
4     1.0
5     0.8
6     1.4
7     1.1
8     1.1
9     0.5
10    0.6
11    0.4
Name: BLK, dtype: float64
0     0.5
1     0.9
2     0.7
3     0.4
4     0.6
5     0.4
6     0.4
7     0.4
8     0.6
9     0.6
10    0.3
11    0.1
Name: STL, dtype: float64
0     1.3
1     1.6
2     1.6
3     1.5
4     1.6
5     1.6
6     1.8
7     1.9
8     2.2
9     1.4
10    1.9
11    0.9
Name: TOV, dtype: float64
0     66
1     55
2     49
3     27
4     76
5     55
6     62
7     59
8     58
9     39
10    72
11    25
Name: GP, dtype: int64
0     15.0
1     19.0
2     20.2
3     19.0
4     19.8
5     18.2
6     26.5
7     24.9
8     29.4
9     23.9
10    19.7
11    12.0
Name: MIN, dtype: float64
0    Don MacLean
dtype: object
0     6.6
1    18.2
2    11.0
3    11.2
4    10.9
5     0.3
6    10.9
7     2.6
8     3.9
Name: PTS, dtype: float64
0    2.0
1    6.2
2    4.2
3    3.7
4    3.8
5    0.6
6    3.8
7    1.4
8    2.3
Name: REB, dtype: float64
0    0.6
1    2.1
2    1.3
3    1.6
4    1.0
5    0.0
6    0.9
7    0.5
8    0.5
Name: AST, dtype: float64
0    0.1
1    0.3
2    0.1
3    0.1
4    0.3
5    0.0
6    0.3
7    0.1
8    0.1
Name: BLK, dtype: float64
0    0.2
1    0.6
2    0.4
3    0.4
4    0.3
5    0.0
6    0.3
7    0.1
8    0.6
Name: STL, dtype: float64
0    0.7
1    2.0
2    1.1
3    1.2
4    1.3
5    0.2
6    1.5
7    0.5
8    1.3
Name: TOV, dtype: float64
0    62
1    75
2    39
3    56
4    37
5     9
6    17
7    16
8     8
Name: GP, dtype: int64
0    10.9
1    33.2
2    27.0
3    19.8
4    19.8
5     4.7
6    21.5
7     8.9
8     9.5
Name: MIN, dtype: float64
0    Matt Maloney
dtype: object
0    9.4
1    8.6
2    1.4
3    6.4
4    6.7
5    1.7
Name: PTS, dtype: float64
0    2.0
1    1.8
2    0.7
3    1.3
4    2.1
5    0.5
Name: REB, dtype: float64
0    3.7
1    2.8
2    1.4
3    2.7
4    2.8
5    1.2
Name: AST, dtype: float64
0    0.0
1    0.1
2    0.0
3    0.1
4    0.1
5    0.0
Name: BLK, dtype: float64
0    1.0
1    0.8
2    0.3
3    0.6
4    1.0
5    0.3
Name: STL, dtype: float64
0    1.5
1    1.4
2    0.9
3    1.2
4    1.3
5    0.4
Name: TOV, dtype: float64
0    82
1    78
2    15
3    51
4    55
5    14
Name: GP, dtype: int64
0    29.1
1    28.4
2    12.4
3    23.0
4    25.5
5     7.4
Name: MIN, dtype: float64
0    Danny Manning
dtype: object
0     16.7
1     16.3
2     15.9
3     19.3
4     22.8
5     23.7
6     15.7
7     20.6
8     17.9
9     13.4
10    13.5
11    13.5
12     9.1
13     4.6
14     7.4
15     4.0
16     2.6
Name: PTS, dtype: float64
0     6.6
1     5.9
2     5.8
3     6.9
4     6.6
5     7.0
6     6.5
7     6.8
8     6.0
9     4.3
10    6.1
11    5.6
12    4.4
13    2.9
14    2.6
15    2.6
16    1.4
Name: REB, dtype: float64
0     3.1
1     2.6
2     2.7
3     3.5
4     2.6
5     4.2
6     3.3
7     3.8
8     3.3
9     2.0
10    2.2
11    2.0
12    2.3
13    1.0
14    1.1
15    0.7
16    0.5
Name: AST, dtype: float64
0     1.0
1     0.5
2     0.8
3     1.5
4     1.3
5     1.4
6     1.0
7     1.2
8     1.2
9     0.7
10    1.0
11    0.7
12    0.8
13    0.4
14    0.4
15    0.5
16    0.2
Name: BLK, dtype: float64
0     1.7
1     1.3
2     1.6
3     1.6
4     1.4
5     1.3
6     1.8
7     1.5
8     0.9
9     1.2
10    1.1
11    1.0
12    0.7
13    0.9
14    0.6
15    0.5
16    0.7
Name: STL, dtype: float64
0     3.6
1     2.6
2     2.6
3     2.6
4     2.9
5     3.5
6     3.3
7     3.4
8     2.6
9     2.3
10    2.1
11    1.4
12    1.4
13    0.8
14    1.2
15    0.6
16    0.5
Name: TOV, dtype: float64
0     26
1     71
2     73
3     82
4     79
5     42
6     26
7     68
8     46
9     33
10    77
11    70
12    50
13    72
14    82
15    41
16    13
Name: GP, dtype: int64
0     36.5
1     32.0
2     30.1
3     35.4
4     34.9
5     38.0
6     35.6
7     37.1
8     32.8
9     24.7
10    27.7
11    25.6
12    23.7
13    16.9
14    15.9
15    13.5
16     6.8
Name: MIN, dtype: float64
0    Vernon Maxwell
dtype: object
0     11.7
1      6.9
2     12.5
3      9.0
4     17.0
5     17.2
6     13.8
7     13.6
8     13.3
9     16.2
10    12.9
11     7.4
12     6.8
13     6.9
14    10.7
15    10.9
16     5.0
17     4.3
18     4.7
Name: PTS, dtype: float64
0     2.6
1     2.9
2     2.9
3     2.9
4     2.9
5     3.0
6     3.1
7     3.1
8     2.6
9     3.1
10    2.2
11    1.2
12    1.4
13    1.4
14    1.8
15    1.7
16    1.5
17    1.5
18    1.5
Name: REB, dtype: float64
0     3.8
1     3.0
2     5.0
3     3.7
4     3.7
5     4.1
6     4.2
7     5.1
8     4.3
9     4.4
10    2.1
11    1.1
12    1.3
13    1.2
14    1.7

0     0.4
1     0.3
2     0.2
3     0.3
4     0.8
5     0.5
6     0.6
7     0.4
8     0.6
9     0.6
10    0.6
11    0.8
12    0.7
13    2.2
14    1.5
15    0.9
16    0.5
17    0.4
18    0.5
Name: AST, dtype: float64
0     0.3
1     0.4
2     0.3
3     0.4
4     0.4
5     0.4
6     0.3
7     0.3
8     1.0
9     1.0
10    1.0
11    0.6
12    0.8
13    1.0
14    0.6
15    0.6
16    1.0
17    1.0
18    0.0
Name: BLK, dtype: float64
0     0.4
1     0.5
2     0.3
3     0.5
4     0.5
5     0.5
6     0.6
7     0.5
8     0.6
9     0.6
10    0.6
11    0.6
12    0.6
13    0.6
14    0.5
15    0.4
16    0.4
17    0.3
18    0.5
Name: STL, dtype: float64
0     1.0
1     0.6
2     0.4
3     1.1
4     1.1
5     1.1
6     1.1
7     0.8
8     1.3
9     0.9
10    1.1
11    1.4
12    1.6
13    2.0
14    1.4
15    1.0
16    0.9
17    1.0
18    2.0
Name: TOV, dtype: float64
0     82
1     80
2     79
3     48
4     31
5     79
6     76
7     67
8     37
9     31
10    68
11    81
12    81
13    82
14    70
15    48
16    82
17    81
18     2
Name: GP, dtype: int64
0     13.2
1     10.4
2     13.7
3     20.0
4     36.5
5     26.5
6     24.1
7     19.4
8     36.5
9     33.9
10    35.3
11    31.3
12    30.1
13    35.3
14    20.8
15    30.9
16    22.2
17    20.0
18     5.7
Name: MIN, dtype: float64
0    Chris Porter
dtype: object
0    8.6
Name: PTS, dtype: float64
0    3.7
Name: REB, dtype: float64
0    1.2
Name: AST, dtype: float64
0    0.1
Name: BLK, dtype: float64
0    0.9
Name: STL, dtype: float64
0    1.2
Name: TOV, dtype: float64
0    51
Name: GP, dtype: int64
0    22.5
Name: MIN, dtype: float64
0    Eldridge Recasner
dtype: object
0    2.0
1    6.9
2    5.7
3    9.3
4    5.0
5    1.0
6    2.4
7    0.0
8    1.0
9    0.8
Name: PTS, dtype: float64
0    0.7
1    2.3
2    1.6
3    2.4
4    1.8
5    0.6
6    1.2
7    0.0
8    0.0
9    0.0
Name: REB, dtype: float64
0    0.3
1    2.7
2    1.3
3    2.0
4    2.1
5    0.7
6    0.9
7    0.0
8    1.0
9    0.8
Name: AST, dtype: float64
0    0.0
1    0.1
2    0.1
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: BLK, dtype: float64
0    1.0
1    0.4
2    0.5
3    0.7
4    0.4
5    0.0
6    0.1
7    0.0
8    0.2
9    0.2
Name: STL, dtype: float64
0    0.7
1    1.0
2    0.9
3    1.5
4    1.3
5    0.0
6    0.6
7    0.0
8    0.2
9    0.2
Name: TOV, dtype: float64
0     3
1    63
2    71
3    59
4    44
5     7
6    43
7     1
8     5
9     6
Name: GP, dtype: int64
0     4.3
1    20.2
2    17.0
3    24.6
4    16.1
5     4.0
6     9.4
7     1.9
8     6.2
9     5.5
Name: MIN, dtype: float64
0    Bryant Reeves
dtype: object
0    13.3
1    16.2
2    16.3
3    10.8
4     8.9
5     8.3
Name: PTS, dtype: float64
0    7.4
1    8.1
2    7.9
3    5.5
4    5.7
5    6.0
Name: REB, dtype: float64
0    1.4
1    2.1
2    2.1
3    1.5
4    1.2
5    1.1
Name: AST, dtype: float64
0    0.7
1    0.9
2    1.1
3    0.3
4    0.6
5    0.7
Name: BLK, dtype: float64
0    0.6
1    0.4
2    0.5
3    0.5
4    0.5
5    0.6
Name: STL, dtype: float64
0    2.0
1    2.3
2    2.1
3    1.9
4    1.7
5    1.2
Name: TOV, dtype: float64
0    77
1    75
2    74
3    25
4    69
5    75
Name: GP, dtype: int64
0    31.9
1    37.0
2    34.1
3    28.1
4    25.7
5    24.4
Name: MIN, dtype: float64
0    J.R. Reid
dtype: object
0     11.1
1     11.3
2     11.0
3      7.5
4      9.9
5      9.4
6      9.0
7      7.0
8      6.5
9      6.6
10     6.6
11     4.9
12    15.2
13     5.0
14     9.0
15     4.4
16     1.7
Name: PTS, dtype: float64
0     8.4
1     6.3
2     6.2
3     4.1
4     5.8
5     5.5
6     3.1
7     4.9
8     3.8
9     4.0
10    3.9
11    2.7
12    7.1
13    4.0
14    5.2
15    3.4
16    1.3
Name: REB, dtype: float64
0     1.2
1     1.1
2     1.6
3     1.4
4     0.8
5     1.0
6     1.0
7     0.7
8     0.4
9     0.8
10    0.6
11    0.6
12    1.6
13    0.9
14    1.2
15    0.5
16    0.2
Name: AST, dtype: float64
0     0.7
1     0.6
2     0.5
3     0.3
4     0.4
5     0.4
6     0.4
7     0.4
8     0.3
9     0.2
10    0.3
11    0.2
12    0.6
13    0.0
14    0.2
15    0.1
16    0.2
Name: BLK, dtype: float64
0     1.1
1     1.1
2     1.0
3     0.6
4     0.5
5     0.6
6     0.6
7     0.7
8     0.8
9     0.5
10    0.7
11    0.4
12    1.4
13    0.6
14    0.9
15    0.6
16    0.3
Name: STL, dtype: float64
0     2.1
1     1.9
2     1.6
3     1.4
4     1.5
5     1.5
6     1.2
7     1.4
8     1.5
9     0.9
10    1.2
11    0.8
12    1.8
13    0.9
14    1.2
15    0.6
16    0.2
Name: TOV, dtype: float64
0     82
1     80
2     51
3     17
4     66
5     83
6     70
7     81
8     32
9     33
10    65
11    79
12    16
13    25
14    41
15    34
16     6
Name: GP, dtype: int64
0     33.6
1     30.8
2     24.6
3     17.4
4     24.1
5     22.7
6     19.2
7     19.3
8     20.1
9     20.3
10    20.2
11    14.0
12    34.8
13    18.9
14    25.1
15    17.7
16     6.7
Name: MIN, dtype: float64
0    Terrance Roberson
dtype: object
0    0.0
Name: PTS, dtype: float64
0    0.3
Name: REB, dtype: float64
0    0.3
Name: AST, dtype: float64
0    0.0
Name: BLK, dtype: float64
0    0.0
Name: STL, dtype: float64
0    0.7
Name: TOV, dtype: float64
0    3
Name: GP, dtype: int64
0    4.1
Name: MIN, dtype: float64
0    Jamal Robinson
dtype: object
0    1.0
Name: PTS, dtype: float64
0    1.8
Name: REB, dtype: float64
0    0.3
Name: AST, dtype: float64
0    0.0
Name: BLK, dtype: float64
0    1.0
Name: STL, dtype: float64
0    0.5
Name: TOV, dtype: float64
0    6
Name: GP, dtype: int64
0    11.9
Name: MIN, dtype: float64
0    James Robinson
dtype: object
0    4.8
1    9.2
2    8.5
3    8.3
4    7.7
5    7.6
6    4.5
7    5.9
8    1.7
Name: PTS, dtype: float64
0    1.3
1    1.9
2    2.1
3    1.6
4    1.6
5    1.9
6    2.1
7    2.0
8    1.3
Name: REB, dtype: float64
0    1.2
1    2.5
2    2.0
3    1.8
4    1.9
5    1.3
6    2.2
7    1.8
8    0.0
Name: AST, dtype: float64
0    0.3
1    0.2
2    0.2
3    0.1
4    0.1
5    0.2
6    0.3
7    0.3
8    0.2
Name: BLK, dtype: float64
0    0.5
1    0.7
2    0.4
3    0.4
4    0.5
5    1.0
6    0.5
7    0.7
8    0.7
Name: STL, dtype: float64
0    0.9
1    1.8
2    1.5
3    1.0
4    1.4
5    1.1
6    1.6
7    1.4
8    0.7
Name: TOV, dtype: float64
0    58
1    71
2    76
3    69
4    70
5    14
6    17
7    31
8     6
Name: GP, dtype: int64
0    11.6
1    21.7
2    21.4
3    19.0
4    17.6
5    20.0
6    13.3
7    16.3
8     8.3
Name: MIN, dtype: float64
0    Detlef Schrempf
dtype: object
0      6.2
1      9.3
2      8.5
3      9.5
4     14.8
5     12.0
6     16.2
7     16.1
8     17.3
9     19.1
10    15.0
11    19.2
12    17.1
13    16.8
14    15.8
15    15.0
16     7.5
17     4.0
Name: PTS, dtype: float64
0     3.1
1     3.7
2     3.4
3     4.5
4     7.2
5     5.7
6     7.9
7     8.0
8     9.6
9     9.5
10    5.6
11    6.2
12    5.2
13    6.5
14    7.1
15    7.4
16    4.3
17    3.0
Name: REB, dtype: float64
0     1.4
1     2.0
2     1.9
3     2.3
4     2.9
5     2.6
6     3.2
7     3.7
8     3.9
9     6.0
10    3.4
11    3.8
12    4.4
13    4.4
14    4.4
15    3.7
16    2.6
17    1.7
Name: AST, dtype: float64
0     0.2
1     0.2
2     0.4
3     0.2
4     0.3
5     0.3
6     0.2
7     0.3
8     0.5
9     0.3
10    0.1
11    0.4
12    0.1
13    0.3
14    0.2
15    0.5
16    0.2
17    0.1
Name: BLK, dtype: float64
0     0.4
1     0.6
2     0.5
3     0.6
4     0.9
5     0.8
6     0.8
7     0.7
8     0.8
9     1.0
10    0.9
11    1.1
12    0.9
13    1.0
14    0.8
15    0.8
16    0.5
17    0.3
Name: STL, dtype: float64
0     1.3
1     1.4
2     1.3
3     1.5
4     2.4
5     1.9
6     2.3
7     2.1
8     2.4
9     3.0
10    2.1
11    2.1
12    2.3
13    2.5
14    2.2
15    2.1
16    1.3
17    1.1
Name: TOV, dtype: float64
0     64
1     81
2     82
3     37
4     32
5     69
6     78
7     82
8     80
9     82
10    81
11    82
12    63
13    61
14    78
15    50
16    77
17    26
Name: GP, dtype: int64
0     15.1
1     21.1
2     19.4
3     22.8
4     31.4
5     26.8
6     33.0
7     32.1
8     32.6
9     37.8
10    33.7
11    35.2
12    34.9
13    35.9
14    35.2
15    35.3
16    21.6
17    15.2
Name: MIN, dtype: float64
0    Shawnelle Scott
dtype: object
0    1.3
1    1.1
2    1.6
3    3.9
Name: PTS, dtype: float64
0    1.0
1    1.4
2    1.9
3    4.9
Name: REB, dtype: float64
0    0.0
1    0.2
2    0.1
3    0.4
Name: AST, dtype: float64
0    0.2
1    0.2
2    0.2
3    0.3
Name: BLK, dtype: float64
0    0.0
1    0.1
2    0.2
3    0.1
Name: STL, dtype: float64
0    0.0
1    0.2
2    0.4
3    0.7
Name: TOV, dtype: float64
0    16
1    41
2    27
3    21
Name: GP, dtype: int64
0     3.1
1     4.6
2     5.3
3    11.9
Name: MIN, dtype: float64
0    Michael Smith
dtype: object
0    6.9
1    5.5
2    6.6
3    3.8
4    6.1
5    5.2
6    4.8
7    6.3
8    3.8
Name: PTS, dtype: float64
0    5.9
1    6.0
2    9.5
3    5.6
4    6.9
5    6.4
6    7.3
7    7.2
8    7.1
Name: REB, dtype: float64
0    0.8
1    1.7
2    2.4
3    1.6
4    2.0
5    1.8
6    1.0
7    1.2
8    1.3
Name: AST, dtype: float64
0    0.6
1    0.7
2    0.7
3    0.5
4    0.2
5    0.3
6    0.4
7    0.5
8    0.5
Name: BLK, dtype: float64
0    0.7
1    0.7
2    1.0
3    0.8
4    0.9
5    0.9
6    1.0
7    0.6
8    0.7
Name: STL, dtype: float64
0    1.3
1    1.1
2    1.6
3    0.8
4    1.2
5    1.1
6    1.3
7    1.0
8    0.8
Name: TOV, dtype: float64
0    82
1    65
2    81
3    18
4    30
5    48
6    48
7    46
8    79
Name: GP, dtype: int64
0    21.2
1    21.3
2    31.2
3    19.3
4    23.5
5    21.9
6    22.9
7    24.9
8    20.4
Name: MIN, dtype: float64
0    Mike Smith
dtype: object
0    3.0
Name: PTS, dtype: float64
0    1.3
Name: REB, dtype: float64
0    0.6
Name: AST, dtype: float64
0    0.2
Name: BLK, dtype: float64
0    0.3
Name: STL, dtype: float64
0    0.4
Name: TOV, dtype: float64
0    17
Name: GP, dtype: int64
0    10.6
Name: MIN, dtype: float64
0    Tony Smith
dtype: object
0     3.7
1     4.4
2     6.0
3     8.8
4     5.6
5     5.6
6     4.4
7     5.1
8     5.0
9     2.7
10    2.8
Name: PTS, dtype: float64
0     1.1
1     1.2
2     1.6
3     2.7
4     1.8
5     1.6
6     1.6
7     1.6
8     1.4
9     1.0
10    0.5
Name: REB, dtype: float64
0     2.1
1     1.7
2     1.1
3     2.0
4     1.7
5     2.5
6     2.7
7     2.6
8     2.2
9     1.4
10    1.7
Name: AST, dtype: float64
0     0.2
1     0.1
2     0.1
3     0.2
4     0.1
5     0.1
6     0.2
7     0.2
8     0.3
9     0.3
10    0.0
Name: BLK, dtype: float64
0     0.4
1     0.6
2     0.9
3     0.8
4     0.8
5     0.6
6     0.6
7     0.6
8     0.7
9     0.7
10    1.2
Name: STL, dtype: float64
0     1.1
1     0.8
2     0.7
3     1.0
4     0.8
5     1.2
6     1.0
7     1.1
8     1.1
9     1.3
10    1.5
Name: TOV, dtype: float64
0     64
1     63
2     55
3     73
4     61
5     34
6     25
7     59
8     69
9      7
10     6
Name: GP, dtype: int64
0     10.9
1     13.0
2     13.7
3     22.2
4     16.8
5     15.5
6     16.4
7     15.9
8     18.7
9     11.4
10    12.9
Name: MIN, dtype: float64
0    Derek Strong
dtype: object
0     3.0
1     6.8
2     6.6
3     6.3
4     3.4
5     8.5
6    12.7
7     5.1
8     2.7
9     4.2
Name: PTS, dtype: float64
0    5.0
1    5.0
2    4.2
3    5.4
4    2.8
5    6.3
6    7.4
7    3.7
8    2.2
9    3.9
Name: REB, dtype: float64
0    1.0
1    0.6
2    0.7
3    0.6
4    0.5
5    0.9
6    0.9
7    0.4
8    0.2
9    0.3
Name: AST, dtype: float64
0    0.0
1    0.0
2    0.2
3    0.2
4    0.2
5    0.2
6    0.4
7    0.2
8    0.1
9    0.0
Name: BLK, dtype: float64
0    0.0
1    0.5
2    0.6
3    0.3
4    0.3
5    0.6
6    0.5
7    0.3
8    0.3
9    0.5
Name: STL, dtype: float64
0    1.0
1    0.6
2    0.9
3    1.1
4    0.3
5    1.2
6    1.3
7    0.8
8    0.6
9    0.8
Name: TOV, dtype: float64
0     1
1    23
2    67
3    70
4    63
5    82
6    58
7    44
8    20
9    28
Name: GP, dtype: int64
0    12.0
1    14.7
2    16.9
3    19.2
4    11.8
5    24.4
6    28.2
7    15.8
8     7.4
9    17.6
Name: MIN, dtype: float64
0    Zan Tabak
dtype: object
0    2.0
1    7.7
2    6.5
3    6.4
4    3.3
5    5.4
6    2.1
7    3.9
Name: PTS, dtype: float64
0    1.5
1    4.8
2    3.8
3    3.9
4    3.2
5    3.7
6    1.8
7    3.9
Name: REB, dtype: float64
0    0.1
1    0.9
2    1.1
3    0.9
4    0.7
5    0.8
6    0.2
7    0.6
Name: AST, dtype: float64
0    0.2
1    0.5
2    0.8
3    0.7
4    0.6
5    0.7
6    0.5
7    0.5
Name: BLK, dtype: float64
0    0.1
1    0.4
2    0.5
3    0.4
4    0.3
5    0.4
6    0.2
7    0.2
Name: STL, dtype: float64
0    0.5
1    1.5
2    1.6
3    1.1
4    0.9
5    1.1
6    0.6
7    1.0
Name: TOV, dtype: float64
0    37
1    67
2    13
3    39
4    18
5    57
6    18
7    55
Name: GP, dtype: int64
0     4.9
1    19.9
2    16.8
3    19.3
4    12.9
5    17.3
6     6.3
7    14.1
Name: MIN, dtype: float64
0    Dragan Tarlac
dtype: object
0    2.4
Name: PTS, dtype: float64
0    2.8
Name: REB, dtype: float64
0    0.7
Name: AST, dtype: float64
0    0.4
Name: BLK, dtype: float64
0    0.2
Name: STL, dtype: float64
0    0.9
Name: TOV, dtype: float64
0    43
Name: GP, dtype: int64
0    13.9
Name: MIN, dtype: float64
0    Jamel Thomas
dtype: object
0    3.7
1    1.5
2    2.4
3    2.6
Name: PTS, dtype: float64
0    0.7
1    0.8
2    0.7
3    1.8
Name: REB, dtype: float64
0    0.7
1    1.0
2    0.9
3    0.0
Name: AST, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
Name: BLK, dtype: float64
0    0.0
1    0.3
2    0.1
3    0.6
Name: STL, dtype: float64
0    0.3
1    1.0
2    0.7
3    1.2
Name: TOV, dtype: float64
0    3
1    4
2    7
3    5
Name: GP, dtype: int64
0     6.3
1     6.8
2     6.6
3    11.3
Name: MIN, dtype: float64
0    Otis Thorpe
dtype: object
0     12.8
1      9.9
2     18.9
3     20.8
4     16.7
5     17.1
6     17.5
7     17.3
8     12.8
9     14.0
10    13.3
11    13.5
12    13.4
13    14.2
14    13.1
15    11.2
16     8.3
17    10.2
18    11.3
19     5.5
20     2.8
Name: PTS, dtype: float64
0      6.8
1      5.6
2     10.0
3     10.2
4      9.6
5      9.0
6     10.3
7     10.5
8      8.2
9     10.6
10     8.9
11     6.9
12     8.0
13     8.4
14     7.9
15     7.9
16     6.1
17     7.3
18     6.8
19     3.3
20     3.0
Name: REB, dtype: float64
0     1.4
1     1.1
2     2.5
3     3.2
4     2.5
5     3.2
6     2.4
7     3.0
8     2.5
9     2.3
10    1.6
11    1.6
12    1.6
13    1.9
14    1.7
15    3.4
16    2.3
17    3.0
18    2.1
19    0.6
20    0.6
Name: AST, dtype: float64
0     0.5
1     0.5
2     0.7
3     0.7
4     0.5
5     0.3
6     0.2
7     0.5
8     0.3
9     0.3
10    0.4
11    0.4
12    0.4
13    0.5
14    0.2
15    0.5
16    0.3
17    0.4
18    0.4
19    0.2
20    0.1
Name: BLK, dtype: float64
0     0.4
1     0.5
2     0.6
3     0.8
4     1.0
5     0.8
6     0.9
7     0.6
8     0.6
9     0.8
10    0.6
11    0.6
12    0.6
13    0.6
14    0.7
15    0.6
16    0.7
17    0.6
18    0.9
19    0.5
20    0.2
Name: STL, dtype: float64
0     2.3
1     1.6
2     2.3
3     2.8
4     2.7
5     2.8
6     2.6
7     2.9
8     2.1
9     2.3
10    2.1
11    1.6
12    1.9
13    2.4
14    1.8
15    2.4
16    1.4
17    2.1
18    1.8
19    1.2
20    0.7
Name: TOV, dtype: float64
0     82
1     75
2     82
3     82
4     82
5     82
6     82
7     82
8     72
9     82
10    36
11    34
12    70
13    82
14    79
15    47
16    27
17    74
18    49
19    51
20    49
Name: GP, dtype: int64
0     23.4
1     22.3
2     36.0
3     37.5
4     38.2
5     35.9
6     37.1
7     37.3
8     32.7
9     35.5
10    33.0
11    26.7
12    29.9
13    34.6
14    33.7
15    33.5
16    23.1
17    29.7
18    31.4
19    15.2
20    13.2
Name: MIN, dtype: float64
0    David Vanterpool
dtype: object
0    5.5
Name: PTS, dtype: float64
0    1.7
Name: REB, dtype: float64
0    3.0
Name: AST, dtype: float64
0    0.1
Name: BLK, dtype: float64
0    1.0
Name: STL, dtype: float64
0    1.7
Name: TOV, dtype: float64
0    22
Name: GP, dtype: int64
0    18.6
Name: MIN, dtype: float64
0    Loy Vaught
dtype: object
0      5.5
1      7.6
2      9.4
3     11.7
4     17.5
5     16.2
6     14.9
7      7.5
8      3.4
9      1.7
10     3.1
11     3.9
12     3.3
Name: PTS, dtype: float64
0      4.8
1      6.5
2      6.2
3      8.7
4      9.7
5     10.1
6     10.0
7      6.5
8      3.9
9      2.1
10     3.3
11     3.6
12     3.4
Name: REB, dtype: float64
0     0.5
1     0.9
2     0.7
3     1.0
4     1.7
5     1.4
6     1.3
7     0.7
8     0.3
9     0.3
10    0.4
11    0.5
12    0.5
Name: AST, dtype: float64
0     0.3
1     0.4
2     0.5
3     0.3
4     0.4
5     0.5
6     0.3
7     0.2
8     0.2
9     0.1
10    0.1
11    0.1
12    0.1
Name: BLK, dtype: float64
0     0.3
1     0.5
2     0.7
3     1.0
4     1.3
5     1.1
6     1.0
7     0.4
8     0.4
9     0.1
10    0.4
11    0.4
12    0.4
Name: STL, dtype: float64
0     0.7
1     0.8
2     1.1
3     1.3
4     2.1
5     2.0
6     1.7
7     1.3
8     0.5
9     0.3
10    0.5
11    0.6
12    0.5
Name: TOV, dtype: float64
0     73
1     79
2     79
3     75
4     80
5     80
6     82
7     10
8     37
9     43
10    37
11    14
12    51
Name: GP, dtype: int64
0     16.1
1     21.4
2     20.9
3     28.2
4     37.1
5     37.1
6     34.6
7     26.5
8     13.0
9      6.8
10    10.6
11    11.2
12    10.8
Name: MIN, dtype: float64
0    Doug West
dtype: object
0      2.6
1      3.9
2     14.0
3     19.3
4     14.7
5     12.9
6      6.4
7      7.8
8      4.1
9      5.8
10     4.0
11     1.9
Name: PTS, dtype: float64
0     1.3
1     1.8
2     3.2
3     3.1
4     3.2
5     3.2
6     2.2
7     2.2
8     2.2
9     1.8
10    1.9
11    1.0
Name: REB, dtype: float64
0     0.3
1     0.6
2     3.5
3     2.9
4     2.4
5     2.6
6     1.6
7     1.7
8     1.2
9     1.4
10    1.1
11    0.9
Name: AST, dtype: float64
0     0.1
1     0.3
2     0.3
3     0.3
4     0.3
5     0.3
6     0.2
7     0.4
8     0.1
9     0.5
10    0.2
11    0.3
Name: BLK, dtype: float64
0     0.2
1     0.5
2     0.8
3     1.1
4     0.9
5     0.9
6     0.4
7     0.9
8     0.3
9     1.1
10    0.3
11    0.2
Name: STL, dtype: float64
0     0.6
1     0.5
2     1.5
3     2.1
4     1.9
5     1.8
6     1.1
7     1.0
8     0.6
9     0.9
10    0.5
11    0.3
Name: TOV, dtype: float64
0     52
1     75
2     80
3     80
4     72
5     71
6     73
7     68
8     38
9     14
10    38
11    15
Name: GP, dtype: int64
0      7.3
1     11.0
2     31.8
3     38.8
4     30.3
5     32.8
6     22.5
7     28.2
8     18.1
9     21.0
10    15.3
11    11.5
Name: MIN, dtype: float64
0    Walt Williams
dtype: object
0     17.0
1     11.2
2     16.4
3     14.6
4     12.0
5     13.6
6     16.4
7     12.4
8      8.4
9     10.3
10     9.3
11    10.9
12     8.3
13     9.4
14     5.5
Name: PTS, dtype: float64
0     4.5
1     4.1
2     4.5
3     4.6
4     4.0
5     4.4
6     5.0
7     4.2
8     2.6
9     3.4
10    3.0
11    4.0
12    3.4
13    3.4
14    3.1
Name: REB, dtype: float64
0     3.0
1     2.3
2     4.1
3     3.7
4     2.3
5     3.2
6     2.7
7     2.5
8     1.7
9     2.1
10    1.7
11    2.1
12    1.3
13    1.4
14    0.9
Name: AST, dtype: float64
0     0.5
1     0.4
2     0.8
3     0.9
4     0.6
5     0.8
6     0.8
7     0.8
8     0.4
9     0.6
10    0.6
11    0.6
12    0.4
13    0.2
14    0.4
Name: BLK, dtype: float64
0     1.1
1     0.9
2     1.6
3     1.2
4     1.1
5     1.2
6     1.3
7     1.4
8     0.6
9     1.0
10    0.8
11    0.6
12    0.4
13    0.4
14    0.6
Name: STL, dtype: float64
0     3.0
1     2.5
2     3.2
3     2.3
4     1.7
5     2.1
6     2.4
7     1.9
8     1.3
9     1.6
10    1.3
11    1.5
12    1.0
13    1.1
14    0.5
Name: TOV, dtype: float64
0     59
1     57
2     77
3     45
4     28
5     73
6     73
7     28
8     31
9     59
10    48
11    76
12    72
13    48
14    66
Name: GP, dtype: int64
0     28.4
1     23.8
2     35.6
3     30.7
4     28.1
5     29.7
6     36.3
7     31.3
8     19.2
9     24.9
10    21.8
11    24.5
12    22.0
13    23.3
14    17.6
Name: MIN, dtype: float64
0    David Wingate
dtype: object
0     8.8
1     8.9
2     4.2
3     6.8
4     5.4
5     7.9
6     6.1
7     6.2
8     2.3
9     3.7
10    3.6
11    2.6
12    0.7
13    0.3
14    6.0
Name: PTS, dtype: float64
0     2.0
1     1.7
2     1.1
3     2.5
4     3.0

In [8]:
# Append year 2001
for n in list2001:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [40]:
# Append year 2002
for n in list2002:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [41]:
# Append year 2003
for n in list2003:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [42]:
# Append year 2004
for n in list2004:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [43]:
# Append year 2005
for n in list2005:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [44]:
# Append year 2006
for n in list2006:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [45]:
# Append year 2007
for n in list2007:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [46]:
# Append year 2008
for n in list2008:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [47]:
# Append year 2009
for n in list2009:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [48]:
# Append year 2010
for n in list2010:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [49]:
# Append year 2011
for n in list2011:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [50]:
# Append year 2012
for n in list2012:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [51]:
# Append year 2013
for n in list2013:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [52]:
# Append year 2014
for n in list2014:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)

df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [53]:
# Append year 2015
for n in list2015:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [54]:
# Append year 2016
for n in list2016:
    player_totals = player.PlayerCareer(n)
    player_summary = player.PlayerSummary(n)
    ids.append(player_summary.info().FIRST_NAME + ' ' + player_summary.info().LAST_NAME)
    rebounds.append(player_totals.regular_season_totals().REB)
    points.append(player_totals.regular_season_totals().PTS)
    assists.append(player_totals.regular_season_totals().AST)
    blocks.append(player_totals.regular_season_totals().BLK)
    steals.append(player_totals.regular_season_totals().STL)
    turnovers.append(player_totals.regular_season_totals().TOV)
    num_games.append(player_totals.regular_season_totals().GP)
    minutes_played.append(player_totals.regular_season_totals().MIN)    
df = pd.DataFrame({'Name': ids, 'Total Points': points, 'Total Rebounds': rebounds,
                   'Total Assists': assists, 'Total Blocks': blocks,
                   'Total Steals': steals, 'Total Turnovers': turnovers,
                   '# Games Played': num_games, "Minutes Played": minutes_played})

In [55]:
del points, rebounds, assists, blocks, steals, turnovers, num_games, minutes_played

In [56]:
df = df[['Name', 'Total Points', 'Total Rebounds', 'Total Assists', 'Total Blocks', 'Total Steals', 'Total Turnovers', '# Games Played', 'Minutes Played']]
df

,Name,Total Points,Total Rebounds,Total Assists,Total Blocks,Total Steals,Total Turnovers,# Games Played,Minutes Played
0,0 Mahmoud Abdul-Rauf dtype: object,0 14.1 1 10.3 2 19.2 3 18.0 4 1...,0 1.8 1 1.4 2 2.8 3 2.1 4 1.9 5...,0 3.1 1 2.4 2 4.2 3 4.5 4 3.6 5...,0 0.1 1 0.0 2 0.1 3 0.1 4 0.1 5...,0 0.8 1 0.5 2 1.0 3 1.0 4 1.1 5...,0 1.6 1 1.4 2 2.3 3 1.9 4 1.6 5...,0 67 1 81 2 81 3 80 4 73 5 5...,0 22.5 1 19.0 2 33.5 3 32.7 4 2...
1,0 Ike Austin dtype: object,0 2.0 1 2.8 2 5.1 3 9.7 4 ...,0 1.1 1 1.7 2 4.9 3 5.8 4 ...,0 0.2 1 0.1 2 1.2 3 1.2 4 ...,0 0.1 1 0.3 2 0.7 3 0.5 4 ...,0 0.1 1 0.2 2 0.4 3 0.5 4 ...,0 0.3 1 0.5 2 1.2 3 2.0 4 ...,0 31 1 46 2 14 3 82 4 52 5...,0 3.6 1 6.7 2 14.4 3 22.9 4 ...
2,0 Corey Benjamin dtype: object,"0 3.8 1 7.7 2 4.7 3 4.4 Name: PTS,...","0 1.3 1 1.8 2 1.5 3 3.4 Name: REB,...","0 0.3 1 1.1 2 1.1 3 1.1 Name: AST,...","0 0.3 1 0.5 2 0.2 3 0.2 Name: BLK,...","0 0.4 1 0.6 2 0.4 3 0.1 Name: STL,...","0 0.7 1 1.5 2 1.0 3 0.7 Name: TOV,...","0 31 1 48 2 65 3 9 Name: GP, dtyp...",0 10.3 1 18.0 2 13.2 3 16.7 Name: ...
3,0 David Benoit dtype: object,0 5.6 1 8.1 2 6.5 3 10.4 4 ...,0 3.8 1 4.8 2 4.7 3 5.2 4 4.7 5...,0 0.4 1 0.5 2 0.4 3 0.8 4 1.0 5...,0 0.6 1 0.5 2 0.7 3 0.7 4 0.6 5...,0 0.2 1 0.5 2 0.4 3 0.6 4 0.5 5...,0 0.9 1 1.1 2 0.7 3 1.1 4 0.9 5...,0 77 1 82 2 55 3 71 4 81 5 5...,0 15.1 1 20.9 2 19.5 3 25.9 4 2...
4,0 Mookie Blaylock dtype: object,0 10.1 1 14.1 2 13.8 3 13.4 4 ...,0 2.8 1 3.5 2 3.7 3 3.5 4 ...,0 4.2 1 6.1 2 6.8 3 8.4 4 ...,0 0.3 1 0.6 2 0.6 3 0.3 4 ...,0 1.6 1 2.3 2 2.4 3 2.5 4 ...,0 2.2 1 2.9 2 2.1 3 2.3 4 ...,0 50 1 72 2 72 3 80 4 81 5...,0 25.3 1 35.9 2 35.4 3 35.3 4 ...
5,0 Muggsy Bogues dtype: object,0 5.0 1 5.4 2 9.4 3 7.0 4 ...,0 1.7 1 2.1 2 2.6 3 2.7 4 ...,0 5.1 1 7.8 2 10.7 3 8.3 4 ...,0 0.0 1 0.1 2 0.0 3 0.0 4 ...,0 1.6 1 1.4 2 2.0 3 1.7 4 ...,0 1.3 1 1.6 2 1.8 3 1.5 4 ...,0 79 1 79 2 81 3 81 4 82 5...,0 20.6 1 22.2 2 33.9 3 28.4 4 ...
6,0 Etdrick Bohannon dtype: object,0 0.0 1 0.0 2 1.5 3 2.4 4 2.2 5...,0 1.2 1 0.0 2 0.5 3 2.7 4 2.4 5...,0 0.2 1 0.0 2 0.0 3 0.5 4 0.4 5...,0 0.4 1 0.0 2 0.0 3 0.5 4 0.5 5...,0 0.0 1 0.0 2 0.0 3 0.2 4 0.2 5...,0 0.6 1 0.0 2 1.0 3 0.7 4 0.8 5...,0 5 1 2 2 2 3 11 4 13 5 ...,0 2.2 1 2.0 2 2.5 3 10.3 4 ...
7,0 Dee Brown dtype: object,0 8.7 1 11.7 2 10.9 3 15.5 4 ...,0 2.2 1 2.5 2 3.1 3 3.9 4 ...,0 4.2 1 5.3 2 5.8 3 4.5 4 ...,0 0.2 1 0.2 2 0.4 3 0.6 4 ...,0 1.0 1 1.1 2 1.7 3 2.0 4 ...,0 1.7 1 1.9 2 1.7 3 1.6 4 ...,0 82 1 31 2 80 3 77 4 79 5...,0 23.7 1 28.5 2 28.2 3 37.2 4 ...
8,0 Matt Bullard dtype: object,0 2.2 1 6.4 2 7.3 3 3.5 4 ...,0 0.8 1 2.8 2 2.8 3 1.3 4 ...,0 0.1 1 0.9 2 1.4 3 1.0 4 ...,0 0.0 1 0.3 2 0.1 3 0.1 4 ...,0 0.2 1 0.3 2 0.4 3 0.2 4 ...,0 0.2 1 0.7 2 0.7 3 0.4 4 ...,0 18 1 80 2 79 3 65 4 46 5...,0 3.5 1 16.0 2 17.2 3 11.2 4 ...
9,0 Scott Burrell dtype: object,0 4.8 1 11.5 2 13.2 3 5.4 4 ...,0 2.6 1 5.7 2 4.9 3 2.8 4 2.7 5...,0 1.2 1 2.5 2 2.4 3 1.4 4 1.2 5...,0 0.3 1 0.6 2 0.7 3 0.4 4 0.3 5...,0 0.7 1 1.2 2 1.4 3 0.5 4 0.5 5...,0 0.9 1 1.3 2 2.2 3 0.9 4 1.0 5...,0 51 1 65 2 20 3 28 4 29 5 5...,0 15.0 1 31.0 2 34.7 3 17.2 4 1...
10,0 Chris Carr dtype: object,0 4.0 1 6.1 2 9.9 3 2.1 4 6.6 5...,0 1.7 1 2.1 2 3.0 3 1.1 4 2.1 5...,0 0.7 1 0.9 2 1.7 3 0.6 4 0.6 5...,0 0.1 1 0.2 2 0.2 3 0.1 4 0.0 5...,0 0.2 1 0.4 2 0.3 3 0.1 4 0.3 5...,0 0.7 1 0.7 2 1.4 3 0.4 4 0.9 5...,0 60 1 55 2 51 3 11 4 28 5 3...,0 9.8 1 15.1 2 22.8 3 7.4 4 1...
11,0 Duane Causwell dtype: object,0 6.9 1 8.0 2 8.2 3 4.4 4 ...,0 5.1 1 7.3 2 5.5 3 4.5 4 ...,0 0.9 1 0.7 2 0.6 3 0.3 4 ...,0 1.9 1 2.7 2 1.6 3 1.2 4 ...,0 0.6 1 0.6 2 0.6 3 0.5 4 ...,0 1.3 1 1.6 2 1.1 3 0.8 4 ...,0 76 1 80 2 55 3 41 4 58 5...,0 22.6 1 28.6 2 22.0 3 16.4 4 ...
12,0 Cedric Ceballos dtype: object,0 8.2 1 7.2 2 12.8 3 19.1 4 ...,0 2.4 1 2.4 2 5.5 3 6.5 4 ...,0 0.6 1 0.8 2 1.0 3 1.7 4 ...,0 0.1 1 0.2 2 0.4 3 0.4 4 ...,0 0.3 1 0.3 2 0.7 3 1.1 4 ...,0 1.1 1 1.1 2 1.4 3 1.8 4 ...,0 63 1 64 2 74 3 53 4 58 5...,0 11.6 1 11.3 2 21.7 3 30.2 4 ...
13,0 Keith Closs dtype: object,"0 4.0 1 2.1 2 4.2 Name: PTS, dtype: f...","0 2.9 1 1.7 2 3.1 Name: REB, dtype: f...","0 0.3 1 0.0 2 0.4 Name: AST, dtype: f...","0 1.4 1 0.6 2 1.3 Name: BLK, dtype: f...","0 0.2 1 0.2 2 0.2 Name: STL, dtype: f...","0 0.7 1 0.4 2 0.6 Name: TOV, dtype: f...","0 58 1 15 2 57 Name: GP, dtype: int64","0 12.8 1 5.8 2 14.4 Name: MIN, dtype..."
14,0 John Coker dtype: object,"0 1.6 1 2.2 2 0.3 Name: PTS, dtype: f...","0 0.4 1 1.6 2 0.8 Name: REB, dtype: f...","0 0.2 1 0.0 2 0.3 Name: AST, dtype: f...","0 0.2 1 0.1 2 0.0 Name: BLK, dtype: f...","0 0.0 1 0.1 2 0.2 Name: STL, dtype: f...","0 0.0 1 0.1 2 0.3 Name: TOV, dtype: f...","0 5 1 14 2 6 Name: GP, dtype: int64","0 2.2 1 7.0 2 5.3 Name: MIN, dtype: f..."
15,0 Sean Colson dtype: object,"0 0.0 1 1.5 2 1.2 Name: PTS, dtype: f...","0 1.0 1 0.3 2 0.5 Name: REB, dtype: f...","0 1.0 1 0.7 2 0.8 Name: AST, dtype: f...","0 0.0 1 0.0 2 0.0 Name: BLK, dtype: f...","0 0.0 1 0.1 2 0.1 Name: STL, dtype: f...","0 0.7 1 0.0 2 0.2 Name: TOV, dtype: f...","0 3 1 10 2 13 Name: GP, dtype: int64","0 5.1 1 3.0 2 3.4 Name: MIN, dtype: f..."
16,0 Tyrone Corbin dtype: object,0 4.0 1 8.9 2 4.0 3 6.4 4 ...,0 1.6 1 3.8 2 3.0 3 3.4 4 ...,0 0.7 1 2.6 2 0.5 3 1.5 4 ...,0 0.1 1 0.1 2 0.1 3 0.1 4 ...,0 0.7 1 1.2 2 0.5 3 0.9 4 ...,0 0.8 1 1.5 2 0.6 3 1.0 4 ...,0 16 1 31 2 32 3 63 4 54 5...,0 10.9 1 23.6 2 13.7 3 18.6 4 ...
17,0 John Crotty dtype: object,0 2.6 1 2.9 2 3.7 3 3.0 4 ...,0 0.4 1 0.7 2 1.2 3 0.9 4 ...,0 1.4 1 1.7 2 2.6 3 1.8 4 ...,0 0.0 1 0.0 2 0.1 3 0.1 4 ...,0 0.3 1 0.3 2 0.5 3 0.4 4 ...,0 0.8 1 0.6 2 0.9 3 0.9 4 ...,0 40 1 45 2 80 3 58 4 48 5...,0 6.1 1 7.0 2 12.7 3 10.6 4 ...
18,0 Bill Curley dtype: object,0 2.7 1 3.1 2 2.2 3 3.0 4 2.7 5...,0 2.3 1 2.5 2 1.5 3 2.0 4 1.8 5...,0 0.5 1 0.4 2 0.4 3 0.0 4 0.6 5...,0 0.4 1 0.1 2 0.3 3 0.0 4 0.2 5...,0 0.4 1 0.3 2 0.5 3 0.5 4 0.5 5...,0 0.5 1 0.3 2 0.3 3 1.0 4 0.7 5...,0 53 1 11 2 35 3 4 4 24 5 2...,0 11.2 1 13.3 2 10.6 3 12.5 4 1...
19,0 Kornel David dtype: object,0 6.2 1 6.5 2 1.8 3 5.6 4 2.5 5...,0 3.5 1 2.8 2 1.3 3 2.5 4 1.9 5...,0 0.8 1 0.6 2 0.2 3 0.5 4 0.2 5...,0 0.3 1 0.1 2 0.2 3 0.1 4 0.2 5...,0 0.5 1 0.5 2 0.7 3 0.5 4 0.1 5...,0 1.0 1 1.2 2 0.3 3 1.0 4 0.4 5...,0 50 1 26 2 6 3 32 4 17 5 1...,0 18.0 1 17.0 2 5.2 3 14.8 4 ...
20,0 Terry Davis dtype: object,0 4.7 1 5.5 2 10.2 3 12.7 4 ...,0 3.6 1 4.8 2 9.9 3 9.3 4 4.9 5...,0 0.4 1 0.7 2 0.8 3 0.9 4 0.4 5...,0 0.4 1 0.5 2 0.4 3 0.4 4 0.1 5...,0 0.4 1 0.3 2 0.4 3 0.5 4 0.6 5...,0 1.1 1 0.7 2 1.7 3 2.1 4 0.3 5...,0 63 1 55 2 68 3 75 4 15 5 4...,0 14.0 1 18.1 2 31.6 3 32.8 4 1...
21,0 Todd Day dtype: object,0 13.8 1 12.7 2 16.0 3 9.1 4 1...,0 4.1 1 4.1 2 3.9 3 2.8 4 2.8 5...,0 1.6 1 1.8 2 1.6 3 0.6 4 1.4 5...,0 0.7 1 0.7 2 0.8 3 0.4 4 0.7 5...,0 1.1 1 1.4 2 1.3 3 0.5 4 1.1 5...,0 1.7 1 1.7 2 1.9 3 1.4 4 1.4 5...,0 71 1 76 2 82 3 8 4 71 5 7...,0 27.2 1 28.0 2 33.1 3 21.4 4 2...
22,0 Vinny Del Negro dtype: object,0 7.1 1 9.7 2 7.4 3 10.0 4 ...,0 2.1 1 2.6 2 2.2 3 2.1 4 ...,0 2.6 1 3.3 2 4.0 3 4.2 4 ...,0 0.2 1 0.1 2 0.0 3 0.0 4 ...,0 0.8 1 0.8 2 0.6 3 0.8 4 ...,0 1.0 1 1.5 2 1.3 3 1.3 4 ...,0 80 1 76 2 73 3 77 4 75 5...,0 19.5 1 24.4 2 20.9 3 25.3 4 ...
23,0 Sherman Douglas dtype: object,0 14.3 1 18.5 2 7.4 3 7.3 4 ...,0 2.5 1 2.9 2 1.2 3 1.5 4 ...,0 7.6 1 8.5 2 3.8 3 4.1 4 ...,0 0.1 1 0.1 2 0.0 3 0.2 4 ...,0 1.8 1 1.7 2 0.8 3 0.6 4 ...,0 3.0 1 3.7 2 1.6 3 1.6 4 ...,0 81 1 73 2 5 3 37 4 42 5...,0 30.5 1 35.1 2 19.6 3 17.7 4 ...
24,0 Tyus Edney dtype: object,0 10.8 1 6.9 2 5.3 3 4.4 Name: ...,"0 2.5 1 1.6 2 1.1 3 1.0 Name: REB,...","0 6.1 1 3.2 2 2.7 3 2.3 Name: AST,...","0 0.0 1 0.0 2 0.0 3 0.0 Name: BLK,...","0 1.1 1 0.9 2 1.0 3 0.7 Name: STL,...","0 2.4 1 1.6 2 1.3 3 1.0 Name: TOV,...","0 80 1 70 2 52 3 24 Name: GP, dtyp...",0 31.0 1 19.7 2 12.0 3 10.9 Name: ...
25,0 Kevin Edwards dtype: object,0 13.8 1 12.0 2 12.1 3 10.1 4 ...,0 3.3 1 3.6 2 2.6 3 2.6 4 ...,0 4.4 1 3.2 2 3.0 3 2.1 4 ...,0 0.3 1 0.4 2 0.6 3 0.2 4 ...,0 1.8 1 1.6 2 1.6 3 1.2 4 ...,0 3.1 1 2.3 2 2.1 3 1.5 4 ...,0 79 1 78 2 79 3 81 4 40 5...,0 29.7 1 28.3 2 25.3 3 22.7 4 ...
26,0 Khalid El-Amin dtype: object,"0 6.3 Name: PTS, dtype: float64","0 1.6 Name: REB, dtype: float64","0 2.9 Name: AST, dtype: float64","0 0.0 Name: BLK, dtype: float64","0 1.0 Name: STL, dtype: float64","0 1.1 Name: TOV, dtype: float64","0 50 Name: GP, dtype: int64","0 18.7 Name: MIN, dtype: float64"
27,0 Mario Elie dtype: object,0 2.0 1 7.7 2 7.2 3 7.8 4 ...,0 0.3 1 3.6 2 3.3 3 2.9 4 ...,0 0.3 1 1.5 2 1.4 3 2.2 4 ...,0 0.0 1 0.3 2 0.3 3 0.2 4 ...,0 0.0 1 0.6 2 0.6 3 0.9 4 ...,0 1.0 1 0.9 2 0.9 3 1.1 4 ...,0 3 1 30 2 33 3 79 4 82 5...,0 6.7 1 20.8 2 19.5 3 21.2 4 ...
28,0 Sean Elliott dtype: object,0 10.0 1 15.9 2 16.3 3 17.2 4 ...,0 3.7 1 5.6 2 5.4 3 4.6 4 ...,0 1.9 1 2.9 2 2.6 3 3.8 4 ...,0 0.2 1 0.4 2 0.4 3 0.4 4 ...,0 0.6 1 0.8 2 1.0 3 1.0 4 ...,0 1.4 1 1.8 2 1.9 3 2.2 4 ...,0 81 1 82 2 82 3 70 4 73 5...,0 25.1 1 37.1 2 38.0 3 37.2 4 ...
29,0 Pervis Ellison dtype: object,0 8.0 1 10.4 2 20.0 3 17.4 4 ...,0 5.8 1 7.7 2 11.2 3 8.8 4 ...,0 1.9 1 1.3 2 2.9 3 2.4 4 ...,0 1.7 1 2.1 2 2.7 3 2.2 4 ...,0 0.5 1 0.6 2 0.9 3 0.9 4 ...,0 1.8 1 1.9 2 3.0 3 2.2 4 ...,0 34 1 76 2 66 3 49 4 47 5...,0 25.5 1 25.6 2 38.0 3 34.7 4 ...
...,...,...,...,...,...,...,...,...,...
1557,0 Luis Scola dtype: object,0 10.3 1 12.7 2 16.2 3 18.3 4 1...,0 6.4 1 8.8 2 8.6 3 8.2 4 6.5 5...,0 1.3 1 1.5 2 2.1 3 2.5 4 2.1 5...,0 0.2 1 0.1 2 0.3 3 0.6 4 0.4 5...,0 0.7 1 0.8 2 0.8 3 0.6 4 0.5 5...,0 1.3 1 1.5 2 2.0 3 2.0 4 2.3 5...,0 82 1 82 2 82 3 74 4 66 5 8...,0 24.7 1 30.3 2 32.6 3 32.6 4 3...
1558,0 Kevin Seraphin dtype: object,0 2.7 1 7.9 2 9.1 3 4.7 4 6.6 5...,0 2.6 1 4.9 2 4.4 3 2.4 4 3.6 5...,0 0.2 1 0.6 2 0.7 3 0.3 4 0.7 5...,0 0.5 1 1.3 2 0.7 3 0.5 4 0.7 5...,0 0.3 1 0.3 2 0.3 3 0.1 4 0.1 5...,0 0.7 1 1.2 2 1.6 3 0.8 4 1.2 5...,0 58 1 57 2 79 3 53 4 79 5 4...,0 10.9 1 20.6 2 21.8 3 10.9 4 1...
1559,0 Tiago Splitter dtype: object,0 4.6 1 9.3 2 10.3 3 8.2 4 ...,0 3.4 1 5.2 2 6.4 3 6.2 4 4.8 5...,0 0.4 1 1.1 2 1.6 3 1.5 4 1.5 5...,0 0.3 1 0.8 2 0.8 3 0.5 4 0.7 5...,0 0.5 1 0.4 2 0.8 3 0.5 4 0.7 5...,0 0.5 1 1.5 2 1.2 3 1.3 4 1.2 5...,0 60 1 59 2 81 3 59 4 52 5 3...,0 12.3 1 19.0 2 24.7 3 21.5 4 1...
1560,0 Jarnell Stokes dtype: object,0 3.0 1 0.0 2 1.4 3 1.0 4 1.5 N...,0 1.8 1 1.0 2 0.4 3 0.6 4 1.0 N...,0 0.2 1 0.0 2 0.2 3 0.1 4 1.0 N...,0 0.3 1 0.0 2 0.0 3 0.0 4 0.0 N...,0 0.3 1 0.0 2 0.2 3 0.1 4 0.5 N...,0 0.4 1 0.0 2 0.0 3 0.0 4 0.0 N...,0 19 1 2 2 5 3 7 4 2 Name: ...,0 6.6 1 2.2 2 2.8 3 2.7 4 3.3 N...
1561,0 Diamond Stone dtype: object,"0 1.4 Name: PTS, dtype: float64","0 0.9 Name: REB, dtype: float64","0 0.0 Name: AST, dtype: float64","0 0.1 Name: BLK, dtype: float64","0 0.0 Name: STL, dtype: float64","0 0.3 Name: TOV, dtype: float64","0 7 Name: GP, dtype: int64","0 3.5 Name: MIN, dtype: float64"
1562,0 Rodney Stuckey dtype: object,0 7.6 1 13.4 2 16.6 3 15.5 4 1...,0 2.3 1 3.5 2 3.8 3 3.1 4 2.6 5...,0 2.8 1 4.9 2 4.8 3 5.2 4 3.8 5...,0 0.1 1 0.1 2 0.2 3 0.1 4 0.2 5...,0 0.9 1 1.0 2 1.4 3 1.1 4 0.8 5...,0 1.4 1 2.2 2 2.2 3 2.2 4 1.9 5...,0 57 1 79 2 73 3 70 4 55 5 7...,0 19.0 1 31.9 2 34.2 3 31.2 4 2...
1563,0 Jared Sullinger dtype: object,0 6.0 1 13.3 2 13.3 3 10.3 4 ...,0 5.9 1 8.1 2 7.6 3 8.3 4 2.5 N...,0 0.8 1 1.6 2 2.3 3 2.3 4 0.3 N...,0 0.5 1 0.7 2 0.7 3 0.6 4 0.1 N...,0 0.5 1 0.5 2 0.8 3 0.9 4 0.4 N...,0 0.6 1 1.6 2 1.3 3 1.3 4 0.4 N...,0 45 1 74 2 58 3 81 4 11 Name: ...,0 19.8 1 27.6 2 27.0 3 23.6 4 1...
1564,0 Edy Tavares dtype: object,"0 2.3 1 2.0 2 6.0 3 4.0 Name: PTS,...",0 1.9 1 1.0 2 10.0 3 5.5 Name: ...,"0 0.3 1 0.0 2 1.0 3 0.5 Name: AST,...","0 0.5 1 0.0 2 6.0 3 3.0 Name: BLK,...","0 0.1 1 0.0 2 0.0 3 0.0 Name: STL,...","0 0.5 1 0.0 2 2.0 3 1.0 Name: TOV,...","0 11 1 1 2 1 3 2 Name: GP, dtyp...",0 6.6 1 3.6 2 24.0 3 13.8 Name: ...
1565,0 Hollis Thompson dtype: object,0 6.0 1 8.8 2 9.8 3 5.5 4 3.8 5...,0 3.2 1 2.8 2 3.5 3 2.7 4 3.1 5...,0 0.9 1 1.2 2 1.3 3 0.8 4 1.0 5...,0 0.2 1 0.4 2 0.3 3 0.2 4 0.0 5...,0 0.7 1 0.8 2 0.5 3 0.5 4 0.7 5...,0 0.8 1 0.9 2 1.0 3 0.3 4 0.2 5...,0 77 1 71 2 77 3 31 4 9 5 4...,0 22.6 1 25.0 2 28.0 3 18.1 4 2...
1566,0 Marcus Thornton dtype: object,0 14.5 1 7.8 2 21.3 3 12.8 4 ...,0 2.9 1 2.8 2 4.7 3 3.5 4 ...,0 1.6 1 0.9 2 3.4 3 1.8 4 ...,0 0.2 1 0.1 2 0.2 3 0.1 4 ...,0 0.8 1 0.4 2 1.7 3 0.9 4 ...,0 1.0 1 0.8 2 2.1 3 1.3 4 ...,0 73 1 46 2 27 3 73 4 51 5...,0 25.6 1 16.2 2 38.2 3 24.3 4 ...
1567,0 Mike Tobey dtype: object,"0 1.0 Name: PTS, dtype: float64","0 1.5 Name: REB, dtype: float64","0 0.5 Name: AST, dtype: float64","0 0.0 Name: BLK, dtype: float64","0 0.0 Name: STL, dtype: float64","0 0.5 Name: TOV, dtype: float64","0 2 Name: GP, dtype: int64","0 12.6 Name: MIN, dtype: float64"
1568,0 Axel Toupane dtype: object,"0 3.6 1 0.0 2 5.5 3 2.8 Name: PTS,...","0 1.5 1 0.0 2 0.5 3 0.3 Name: REB,...","0 0.7 1 0.0 2 0.0 3 0.0 Name: AST,...","0 0.3 1 0.0 2 0.5 3 0.3 Name: BLK,...","0 0.3 1 0.0 2 0.5 3 0.3 Name: STL,...","0 0.3 1 0.0 2 0.0 3 0.0 Name: TOV,...","0 21 1 2 2 2 3 4 Name: GP, dtyp...",0 14.5 1 3.0 2 20.7 3 11.9 Name: ...
1569,0 Beno Udrih dtype: object,0 5.9 1 5.1 2 4.7 3 12.8 4 ...,0 1.0 1 1.0 2 1.1 3 3.3 4 ...,0 1.9 1 1.7 2 1.7 3 4.3 4 ...,0 0.1 1 0.0 2 0.0 3 0.2 4 ...,0 0.5 1 0.3 2 0.4 3 0.9 4 ...,0 1.0 1 1.0 2 0.8 3 2.3 4 ...,0 80 1 54 2 73 3 65 4 73 5...,0 14.4 1 10.9 2 13.0 3 32.0 4 ...
1570,0 Jarrod Uthoff dtype: object,"0 4.4 Name: PTS, dtype: float64","0 2.4 Name: REB, dtype: float64","0 1.0 Name: AST, dtype: float64","0 0.4 Name: BLK, dtype: float64","0 0.2 Name: STL, dtype: float64","0 0.3 Name: TOV, dtype: float64","0 9 Name: GP, dtype: int64","0 12.8 Name: MIN, dtype: float64"
1571,0 Anderson Varejao dtype: object,0 4.9 1 4.6 2 6.8 3 6.7 4 ...,0 4.8 1 4.9 2 6.7 3 8.3 4 ...,0 0.5 1 0.4 2 0.9 3 1.1 4 ...,0 0.7 1 0.4 2 0.6 3 0.5 4 ...,0 0.8 1 0.6 2 0.9 3 0.8 4 ...,0 0.5 1 0.6 2 0.8 3 1.2 4 ...,0 54 1 48 2 81 3 48 4 81 5...,0 16.0 1 15.8 2 23.9 3 27.5 4 ...
1572,0 Greivis Vasquez dtype: object,0 3.6 1 8.9 2 13.9 3 9.8 4 ...,0 1.0 1 2.6 2 4.3 3 1.9 4 2.3 5...,0 2.2 1 5.4 2 9.0 3 5.3 4 3.7 5...,0 0.1 1 0.1 2 0.1 3 0.1 4 0.1 5...,0 0.3 1 0.9 2 0.8 3 0.3 4 0.4 5...,0 1.0 1 2.2 2 3.2 3 1.5 4 1.7 5...,0 70 1 66 2 78 3 18 4 61 5 7...,0 12.3 1 25.8 2 34.4 3 25.8 4 2...
1573,0 Sasha Vujacic dtype: object,0 2.9 1 3.9 2 4.3 3 8.8 4 ...,0 1.8 1 1.9 2 1.5 3 2.1 4 ...,0 1.5 1 1.7 2 0.9 3 1.0 4 ...,0 0.1 1 0.0 2 0.0 3 0.1 4 ...,0 0.3 1 0.6 2 0.6 3 0.5 4 ...,0 0.4 1 0.6 2 0.4 3 0.7 4 ...,0 35 1 82 2 73 3 72 4 80 5...,0 11.5 1 17.7 2 12.8 3 17.8 4 ...
1574,0 C.J. Watson dtype: object,0 3.7 1 9.5 2 10.3 3 4.9 4 ...,0 1.0 1 2.5 2 2.6 3 1.1 4 2.1 5...,0 1.1 1 2.7 2 2.8 3 2.3 4 4.1 5...,0 0.0 1 0.1 2 0.1 3 0.1 4 0.2 5...,0 0.5 1 1.2 2 1.6 3 0.7 4 0.9 5...,0 0.6 1 1.2 2 1.1 3 0.9 4 2.0 5...,0 32 1 77 2 65 3 82 4 49 5 8...,0 11.5 1 24.5 2 27.5 3 13.3 4 2...
1575,0 Briante Weber dtype: object,0 4.8 1 2.0 2 4.4 3 1.7 4 3.8 5...,0 4.0 1 1.0 2 3.6 3 0.6 4 1.7 5...,0 3.3 1 1.0 2 3.0 3 0.7 4 1.2 5...,0 0.5 1 0.0 2 0.4 3 0.1 4 0.0 5...,0 1.5 1 0.0 2 1.3 3 0.4 4 0.7 5...,0 1.5 1 0.0 2 1.3 3 0.4 4 0.4 5...,0 6 1 1 2 7 3 7 4 13 5 2...,0 27.7 1 2.7 2 24.1 3 6.6 4 1...
1576,0 Okaro White dtype: object,"0 2.8 1 3.3 Name: PTS, dtype: float64","0 2.3 1 1.8 Name: REB, dtype: float64","0 0.6 1 0.3 Name: AST, dtype: float64","0 0.3 1 0.2 Name: BLK, dtype: float64","0 0.3 1 0.2 Name: STL, dtype: float64","0 0.5 1 0.2 Name: TOV, dtype: float64","0 35 1 6 Name: GP, dtype: int64","0 13.5 1 13.3 Name: MIN, dtype: float64"
1577,0 CJ Wilcox dtype: object,"0 2.0 1 3.0 2 1.0 Name: PTS, dtype: f...","0 0.3 1 0.5 2 0.5 Name: REB, dtype: f...","0 0.4 1 0.4 2 0.5 Name: AST, dtype: f...","0 0.0 1 0.1 2 0.0 Name: BLK, dtype: f...","0 0.1 1 0.4 2 0.1 Name: STL, dtype: f...","0 0.5 1 0.1 2 0.3 Name: TOV, dtype: f...","0 21 1 23 2 22 Name: GP, dtype: int64","0 4.8 1 7.3 2 4.9 Name: MIN, dtype: f..."
1578,0 Alan Williams dtype: object,"0 2.9 1 7.4 Name: PTS, dtype: float64","0 3.8 1 6.2 Name: REB, dtype: float64","0 0.5 1 0.5 Name: AST, dtype: float64","0 0.5 1 0.7 Name: BLK, dtype: float64","0 0.4 1 0.6 Name: STL, dtype: float64","0 0.6 1 0.8 Name: TOV, dtype: float64","0 10 1 47 Name: GP, dtype: int64","0 6.8 1 15.1 Name: MIN, dtype: float64"
1579,0 Deron Williams dtype: object,0 10.8 1 16.2 2 18.8 3 19.4 4 ...,0 2.4 1 3.3 2 3.0 3 2.9 4 ...,0 4.5 1 9.3 2 10.5 3 10.7 4 ...,0 0.2 1 0.2 2 0.3 3 0.3 4 ...,0 0.8 1 1.0 2 1.1 3 1.1 4 ...,0 1.8 1 3.1 2 3.4 3 3.4 4 ...,0 80 1 80 2 82 3 68 4 76 5...,0 28.8 1 36.9 2 37.3 3 36.8 4 ...
1580,0 Derrick Williams dtype: object,0 8.8 1 12.0 2 4.9 3 8.5 4 ...,0 4.7 1 5.5 2 2.4 3 4.4 4 4.1 5...,0 0.6 1 0.6 2 0.1 3 0.8 4 0.7 5...,0 0.5 1 0.5 2 0.4 3 0.2 4 0.3 5...,0 0.5 1 0.6 2 0.4 3 0.7 4 0.6 5...,0 1.2 1 1.3 2 0.5 3 1.0 4 1.0 5...,0 66 1 78 2 11 3 67 4 78 5 7...,0 21.5 1 24.6 2 14.7 3 24.7 4 2...
1581,0 Reggie Williams dtype: object,0 15.2 1 9.2 2 8.3 3 3.7 4 ...,0 4.6 1 2.7 2 2.8 3 1.3 4 0.0 5...,0 2.8 1 1.5 2 1.8 3 1.0 4 0.3 5...,0 0.3 1 0.0 2 0.1 3 0.0 4 0.0 5...,0 1.0 1 0.4 2 0.6 3 0.3 4 0.3 5...,0 1.2 1 0.7 2 1.0 3 0.5 4 0.7 5...,0 24 1 80 2 33 3 40 4 3 5 2...,0 32.6 1 20.3 2 22.6 3 9.5 4 ...
1582,0 Kyle Wiltjer dtype: object,"0 0.9 Name: PTS, dtype: float64","0 0.7 Name: REB, dtype: float64","0 0.1 Name: AST, dtype: float64","0 0.1 Name: BLK, dtype: float64","0 0.2 Name: STL, dtype: float64","0 0.4 Name: TOV, dtype: float64","0 14 Name: GP, dtype: int64","0 3.1 Name: MIN, dtype: float64"
1583,0 Jeff Withey dtype: object,0 3.3 1 2.6 2 4.3 3 2.9 4 1.5 N...,0 2.6 1 1.7 2 3.4 3 2.4 4 1.0 N...,0 0.4 1 0.3 2 0.4 3 0.1 4 0.0 N...,0 0.9 1 0.5 2 1.0 3 0.6 4 0.3 N...,0 0.3 1 0.1 2 0.4 3 0.3 4 0.0 N...,0 0.3 1 0.3 2 0.5 3 0.3 4 0.2 N...,0 58 1 37 2 51 3 51 4 10 Name: ...,0 11.8 1 7.0 2 12.9 3 8.5 4 ...
1584,0 Christian Wood dtype: object,"0 3.6 1 2.7 Name: PTS, dtype: float64","0 2.2 1 2.2 Name: REB, dtype: float64","0 0.2 1 0.2 Name: AST, dtype: float64","0 0.4 1 0.5 Name: BLK, dtype: float64","0 0.3 1 0.2 Name: STL, dtype: float64","0 0.1 1 0.5 Name: TOV, dtype: float64","0 17 1 13 Name: GP, dtype: int64","0 8.5 1 8.2 Name: MIN, dtype: float64"
1585,0 Metta World Peace dtype: object,0 12.0 1 11.9 2 15.6 3 10.9 4 ...,0 4.3 1 3.9 2 4.9 3 5.0 4 ...,0 2.8 1 3.0 2 2.9 3 1.8 4 ...,0 0.5 1 0.6 2 0.9 3 0.6 4 ...,0 1.7 1 2.0 2 2.8 3 2.4 4 ...,0 2.3 1 2.1 2 2.6 3 1.8 4 ...,0 72 1 76 2 27 3 28 4 55 5...,0 31.1 1 31.1 2 30.4 3 29.3 4 ...
1586,0 Stephen Zimmerman dtype: object,"0 1.2 Name: PTS, dtype: float64","0 1.8 Name: REB, dtype: float64","0 0.2 Name: AST, dtype: float64","0 0.3 Name: BLK, dtype: float64","0 0.1 Name: STL, dtype: float64","0 0.2 Name: TOV, dtype: float64","0 19 Name: GP, dtype: int64","0 5.7 Name: MIN, dtype: float64"