In [1]:
import nba_py
import pandas as pd

from nba_py import game, player, constants, team
from nba_py.player import PlayerList, PlayerCareer
from nba_py.league import PlayerStats
from nba_py.team import TeamCommonRoster

In [3]:
# Get every player from 2000-2001 to 2016-2017

df_players2000 = PlayerStats(season ='2000-01')
df_players2001 = PlayerStats(season ='2001-02')
df_players2002 = PlayerStats(season ='2002-03')
df_players2003 = PlayerStats(season ='2003-04')
df_players2004 = PlayerStats(season ='2004-05')
df_players2005 = PlayerStats(season ='2005-06')
df_players2006 = PlayerStats(season ='2006-07')
df_players2007 = PlayerStats(season ='2007-08')
df_players2008 = PlayerStats(season ='2008-09')
df_players2009 = PlayerStats(season ='2009-10')
df_players2010 = PlayerStats(season ='2010-11')
df_players2011 = PlayerStats(season ='2011-12')
df_players2012 = PlayerStats(season ='2012-13')
df_players2013 = PlayerStats(season ='2013-14')
df_players2014 = PlayerStats(season ='2014-15')
df_players2015 = PlayerStats(season ='2015-06')
df_players2016 = PlayerStats(season ='2016-17')


#df_players2016.overall()

In [22]:
df_players2016.overall()
#type(df_players2016.overall())
df_players2016a = df_players2016.overall()
#type(df_players2016a)
#type(df_players2016.overall())
df_players2016a[['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PTS']]

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,PTS
0,1627773,AJ Hammons,1610612742,DAL,24.0,22,4,18,0.182,7.4,...,0.9,0.450,0.4,1.3,1.6,0.2,0.5,0.0,0.6,2.2
1,201166,Aaron Brooks,1610612754,IND,32.0,65,36,29,0.554,13.7,...,0.6,0.800,0.3,0.8,1.1,1.9,1.0,0.4,0.1,5.0
2,203932,Aaron Gordon,1610612753,ORL,21.0,80,29,51,0.363,28.7,...,2.7,0.719,1.5,3.6,5.1,1.9,1.1,0.8,0.5,12.7
3,1626151,Aaron Harrison,1610612766,CHA,22.0,5,2,3,0.400,3.3,...,0.4,0.500,0.0,0.6,0.6,0.6,0.0,0.0,0.0,0.2
4,203940,Adreian Payne,1610612750,MIN,26.0,18,5,13,0.278,7.5,...,1.1,0.737,0.5,1.3,1.8,0.4,0.4,0.4,0.4,3.5
5,201143,Al Horford,1610612738,BOS,31.0,68,46,22,0.676,32.3,...,2.0,0.800,1.4,5.4,6.8,5.0,1.7,0.8,1.3,14.0
6,2744,Al Jefferson,1610612754,IND,32.0,66,33,33,0.500,14.1,...,1.3,0.765,1.1,3.1,4.2,0.9,0.5,0.3,0.2,8.1
7,202329,Al-Farouq Aminu,1610612757,POR,26.0,61,33,28,0.541,29.1,...,2.2,0.706,1.3,6.1,7.4,1.6,1.5,1.0,0.7,8.7
8,101187,Alan Anderson,1610612746,LAC,34.0,30,20,10,0.667,10.3,...,0.5,0.750,0.1,0.7,0.8,0.4,0.2,0.1,0.0,2.9
9,1626210,Alan Williams,1610612756,PHX,24.0,47,11,36,0.234,15.1,...,2.4,0.625,2.0,4.2,6.2,0.5,0.8,0.6,0.7,7.4
10,202692,Alec Burks,1610612762,UTA,25.0,42,26,16,0.619,15.5,...,1.9,0.769,0.4,2.5,2.9,0.7,0.8,0.4,0.1,6.7
11,203518,Alex Abrines,1610612760,OKC,23.0,68,37,31,0.544,15.5,...,0.7,0.898,0.3,1.0,1.3,0.6,0.5,0.5,0.1,6.0
12,203458,Alex Len,1610612756,PHX,24.0,77,21,56,0.273,20.3,...,2.7,0.721,2.0,4.6,6.6,0.6,1.3,0.5,1.3,8.0
13,1627816,Alex Poythress,1610612755,PHI,23.0,6,0,6,0.000,26.1,...,1.7,0.800,1.8,3.0,4.8,0.8,0.5,0.5,0.3,10.7
14,201582,Alexis Ajinca,1610612740,NOP,29.0,39,15,24,0.385,15.0,...,1.0,0.725,1.2,3.4,4.5,0.3,0.8,0.5,0.6,5.3
15,203459,Allen Crabbe,1610612757,POR,25.0,79,39,40,0.494,28.5,...,1.6,0.847,0.2,2.6,2.9,1.2,0.8,0.7,0.3,10.7
16,202087,Alonzo Gee,1610612743,DEN,30.0,13,4,9,0.308,6.9,...,0.7,0.556,0.3,0.8,1.2,0.5,0.3,0.4,0.1,0.8
17,101161,Amir Johnson,1610612738,BOS,30.0,80,51,29,0.638,20.1,...,1.3,0.670,1.5,3.1,4.6,1.8,1.0,0.6,0.8,6.5
18,2760,Anderson Varejao,1610612744,GSW,34.0,14,12,2,0.857,6.6,...,0.8,0.727,0.9,1.1,1.9,0.7,0.6,0.2,0.2,1.3
19,203083,Andre Drummond,1610612765,DET,23.0,81,36,45,0.444,29.7,...,4.4,0.386,4.3,9.5,13.8,1.1,1.9,1.5,1.1,13.6
20,2738,Andre Iguodala,1610612744,GSW,33.0,76,64,12,0.842,26.3,...,1.3,0.706,0.7,3.3,4.0,3.4,0.8,1.0,0.5,7.6
21,203460,Andre Roberson,1610612760,OKC,25.0,79,46,33,0.582,30.1,...,1.4,0.423,1.2,3.9,5.1,1.0,0.6,1.2,1.0,6.6
22,101106,Andrew Bogut,1610612739,CLE,32.0,27,8,19,0.296,21.6,...,0.4,0.273,2.1,6.0,8.1,1.8,1.6,0.5,0.9,2.9
23,1626150,Andrew Harrison,1610612763,MEM,22.0,72,38,34,0.528,20.5,...,2.7,0.763,0.3,1.6,1.9,2.8,1.2,0.7,0.3,5.9
24,203094,Andrew Nicholson,1610612751,BKN,27.0,38,20,18,0.526,9.0,...,0.4,0.643,0.4,1.2,1.6,0.3,0.4,0.4,0.2,2.6
25,203952,Andrew Wiggins,1610612750,MIN,22.0,82,31,51,0.378,37.2,...,6.6,0.760,1.2,2.8,4.0,2.3,2.3,1.0,0.4,23.6
26,203461,Anthony Bennett,1610612751,BKN,24.0,23,3,20,0.130,11.5,...,1.6,0.722,1.1,2.3,3.4,0.5,0.5,0.2,0.1,5.0
27,1626148,Anthony Brown,1610612753,ORL,24.0,11,3,8,0.273,14.5,...,0.0,0.000,0.7,2.3,3.0,0.7,0.5,0.5,0.1,3.9
28,203076,Anthony Davis,1610612740,NOP,24.0,75,31,44,0.413,36.1,...,8.6,0.802,2.3,9.5,11.8,2.1,2.4,1.3,2.2,28.0
29,201627,Anthony Morrow,1610612741,CHI,31.0,49,25,24,0.510,14.6,...,0.8,0.919,0.2,0.4,0.6,0.5,0.1,0.5,0.0,5.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,203504,Trey Burke,1610612764,WAS,24.0,57,35,22,0.614,12.3,...,0.5,0.759,0.1,0.7,0.8,1.8,0.8,0.2,0.1,5.0
457,1626168,Trey Lyles,1610612762,UTA,21.0,71,43,28,0.606,16.3,...,1.1,0.722,0.7,2.6,3.3,1.0,0.9,0.4,0.3,6.2
458,202684,Tristan Thompson,1610612739,CLE,26.0,78,50,28,0.641,30.0,...,2.7,0.498,3.7,5.5,9.2,1.0,0.8,0.5,1.1,8.1
459,203584,Troy Daniels,1610612763,MEM,25.0,67,33,34,0.493,17.7,...,0.8,0.796,0.3,1.2,1.5,0.7,0.7,0.3,0.1,8.2
460,1627786,Troy Williams,1610612745,HOU,22.0,30,19,11,0.633,18.6,...,1.1,0.656,0.5,1.8,2.3,0.8,1.1,0.9,0.3,6.2
461,201951,Ty Lawson,1610612758,SAC,29.0,69,25,44,0.362,25.1,...,3.1,0.797,0.6,2.0,2.6,4.8,1.9,1.1,0.1,9.9
462,203898,Tyler Ennis,1610612747,LAL,22.0,53,28,25,0.528,11.1,...,0.5,0.840,0.2,0.7,0.8,1.6,0.8,0.5,0.0,4.3
463,204020,Tyler Johnson,1610612748,MIA,25.0,73,35,38,0.479,29.8,...,3.5,0.768,0.7,3.3,4.0,3.2,1.2,1.2,0.6,13.7
464,1627755,Tyler Ulis,1610612756,PHX,21.0,61,15,46,0.246,18.4,...,1.2,0.775,0.3,1.2,1.6,3.7,1.3,0.8,0.1,7.3
465,203092,Tyler Zeller,1610612738,BOS,27.0,51,32,19,0.627,10.3,...,0.8,0.564,0.8,1.6,2.4,0.8,0.4,0.1,0.4,3.5
466,201936,Tyreke Evans,1610612758,SAC,27.0,40,17,23,0.425,19.7,...,2.3,0.750,0.3,3.1,3.4,3.1,1.5,0.9,0.2,10.3
467,2199,Tyson Chandler,1610612756,PHX,34.0,47,15,32,0.319,27.6,...,2.6,0.734,3.3,8.2,11.5,0.6,1.4,0.7,0.5,8.4
468,1626145,Tyus Jones,1610612750,MIN,21.0,60,23,37,0.383,12.9,...,0.7,0.767,0.2,1.0,1.1,2.6,0.6,0.8,0.1,3.5
469,2617,Udonis Haslem,1610612748,MIA,37.0,16,6,10,0.375,8.1,...,0.9,0.600,0.5,1.8,2.3,0.4,0.5,0.4,0.1,1.9
470,203506,Victor Oladipo,1610612760,OKC,25.0,67,39,28,0.582,33.2,...,2.3,0.753,0.6,3.8,4.3,2.6,1.8,1.2,0.3,15.9
471,1713,Vince Carter,1610612763,MEM,40.0,73,36,37,0.493,24.7,...,1.6,0.765,0.5,2.6,3.1,1.8,0.7,0.8,0.5,8.0
472,1627735,Wade Baldwin IV,1610612763,MEM,21.0,33,18,15,0.545,12.3,...,1.1,0.838,0.3,1.1,1.4,1.8,1.2,0.5,0.2,3.2
473,201961,Wayne Ellington,1610612748,MIA,29.0,62,35,27,0.565,24.2,...,0.7,0.860,0.3,1.8,2.1,1.1,0.5,0.6,0.1,10.5
474,1627782,Wayne Selden,1610612763,MEM,22.0,14,6,8,0.429,16.9,...,1.6,0.636,0.1,1.1,1.1,0.9,0.9,0.4,0.1,5.1
475,202325,Wesley Johnson,1610612746,LAC,29.0,68,40,28,0.588,11.9,...,0.3,0.647,0.4,2.3,2.7,0.3,0.3,0.4,0.4,2.7
476,202083,Wesley Matthews,1610612742,DAL,30.0,73,29,44,0.397,34.2,...,2.5,0.816,0.2,3.3,3.5,2.9,1.4,1.1,0.2,13.5
477,203115,Will Barton,1610612743,DEN,26.0,60,31,29,0.517,28.4,...,3.2,0.753,1.0,3.4,4.3,3.4,1.6,0.8,0.5,13.7
478,1626161,Willie Cauley-Stein,1610612758,SAC,23.0,75,29,46,0.387,18.9,...,2.0,0.669,1.1,3.4,4.5,1.1,0.9,0.7,0.6,8.1
479,203186,Willie Reed,1610612748,MIA,27.0,71,39,32,0.549,14.5,...,1.2,0.557,1.8,2.9,4.7,0.4,0.4,0.3,0.7,5.3
480,1626195,Willy Hernangomez,1610612752,NYK,23.0,72,27,45,0.375,18.4,...,1.7,0.728,2.4,4.6,7.0,1.3,1.4,0.6,0.5,8.2
481,201163,Wilson Chandler,1610612743,DEN,30.0,71,35,36,0.493,30.9,...,2.7,0.727,1.5,5.0,6.5,2.0,1.6,0.7,0.4,15.7
482,1627812,Yogi Ferrell,1610612742,DAL,24.0,46,18,28,0.391,26.0,...,1.9,0.831,0.4,2.0,2.4,3.7,1.5,0.9,0.2,10.0
483,203897,Zach LaVine,1610612750,MIN,22.0,47,16,31,0.340,37.2,...,3.0,0.836,0.4,3.0,3.4,3.0,1.8,0.9,0.2,18.9
484,2216,Zach Randolph,1610612763,MEM,35.0,73,38,35,0.521,24.5,...,2.6,0.731,2.5,5.7,8.2,1.7,1.4,0.5,0.1,14.1
485,2585,Zaza Pachulia,1610612744,GSW,33.0,70,58,12,0.829,18.1,...,1.8,0.778,2.0,3.9,5.9,1.9,1.2,0.8,0.5,6.1

In [38]:
#put all PlayersStats objects in a list
lst_players_plStat = [df_players2000, df_players2001, df_players2002, df_players2003, df_players2004,df_players2005,df_players2006,df_players2007,df_players2008,df_players2009,df_players2010,df_players2011,df_players2012,df_players2013,df_players2014,df_players2015,df_players2016]
lst_players_df = []
#iterate for each item in list
for df in lst_players_plStat: 
    #convert to pandas DataFrame
    df = df.overall() 
    #remove unneeded columns from data frame
    df = df[['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'PTS']]
    lst_players_df.append(df)

print(df_players2000) #testing if it is changing byVal or byAddress
print(type(lst_players_df[0])) #checking to see if list was made properly and can be acessed

<nba_py.league.PlayerStats object at 0x000001E51E7FCEF0>
<class 'pandas.core.frame.DataFrame'>

In [48]:
for df in lst_players_df:
    #Check for NaN in each
    null_val =sum(df.isnull().any())
    print(null_val)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [51]:
#print all df to csv so we dont't have to consistently scape each time we want data
index = 0
for df in lst_players_df:  
    if index <=10:
        csv_name = "clean_players_200"+str(index)
    else:
        csv_name = "clean_players_20"+str(index)
    df.to_csv(csv_name+'.csv')
    index += 1

In [ ]:
#2000 rosters for all the teams
df_Hawks2000 = TeamCommonRoster(team_id = '1610612737', season = '2000-01')
df_Celtics2000 = TeamCommonRoster(team_id = '1610612738', season = '2000-01')
df_Nets2000 = TeamCommonRoster(team_id = '1610612751', season = '2000-01')
df_Hornets2000 = TeamCommonRoster(team_id = '1610612766', season = '2000-01')
df_Bulls2000 = TeamCommonRoster(team_id = '1610612741', season = '2000-01')
df_Cavaliers2000 = TeamCommonRoster(team_id = '1610612739', season = '2000-01')
df_Mavericks2000 = TeamCommonRoster(team_id = '1610612742', season = '2000-01')
df_Nuggets2000 = TeamCommonRoster(team_id = '1610612743', season = '2000-01')
df_Pistons2000 = TeamCommonRoster(team_id = '1610612765', season = '2000-01')
df_Warriors2000 = TeamCommonRoster(team_id = '1610612744', season = '2000-01')
df_Rockets2000 = TeamCommonRoster(team_id = '1610612745', season = '2000-01')
df_Pacers2000 = TeamCommonRoster(team_id = '1610612754', season = '2000-01')
df_Clippers2000 = TeamCommonRoster(team_id = '1610612746', season = '2000-01')
df_Clippers2000 = TeamCommonRoster(team_id = '1610612746', season = '2000-01')
df_Lakers2000 = TeamCommonRoster(team_id = '1610612747', season = '2000-01')
df_Heat2000 = TeamCommonRoster(team_id = '1610612748', season = '2000-01')
df_Bucks2000 = TeamCommonRoster(team_id = '1610612749', season = '2000-01')
df_Timberwolves2000 = TeamCommonRoster(team_id = '1610612750', season = '2000-01')
df_Pelicans2000 = TeamCommonRoster(team_id = '1610612740', season = '2000-01')
df_Knicks2000 = TeamCommonRoster(team_id = '1610612752', season = '2000-01')
df_Thunder2000 = TeamCommonRoster(team_id = '1610612760', season = '2000-01')
df_Magic2000 = TeamCommonRoster(team_id = '1610612753', season = '2000-01')
df_Sixers2000 = TeamCommonRoster(team_id = '1610612755', season = '2000-01')
df_Suns2000 = TeamCommonRoster(team_id = '1610612756', season = '2000-01')
df_TrailBlazers2000 = TeamCommonRoster(team_id = '1610612757', season = '2000-01')
df_Kings2000 = TeamCommonRoster(team_id = '1610612758', season = '2000-01')
df_Spurs2000 = TeamCommonRoster(team_id = '1610612759', season = '2000-01')
df_Raptors2000 = TeamCommonRoster(team_id = '1610612761', season = '2000-01')
df_Jazz2000 = TeamCommonRoster(team_id = '1610612762', season = '2000-01')
df_Wizards2000 = TeamCommonRoster(team_id = '1610612764', season = '2000-01')
                               

#df_Clippers2000.roster()

In [ ]:
#2001 rosters for all the teams


df_Hawks2001 = TeamCommonRoster(team_id = '1610612737', season = '2001-02')
df_Celtics2001 = TeamCommonRoster(team_id = '1610612738', season = '2001-02')
df_Nets2001 = TeamCommonRoster(team_id = '1610612751', season = '2001-02')
df_Hornets2001 = TeamCommonRoster(team_id = '1610612766', season = '2001-02')
df_Bulls2001 = TeamCommonRoster(team_id = '1610612741', season = '2001-02')
df_Cavaliers2001 = TeamCommonRoster(team_id = '1610612739', season = '2001-02')
df_Mavericks2001 = TeamCommonRoster(team_id = '1610612742', season = '2001-02')
df_Nuggets2001 = TeamCommonRoster(team_id = '1610612743', season = '2001-02')
df_Pistons2001 = TeamCommonRoster(team_id = '1610612765', season = '2001-02')
df_Warriors2001 = TeamCommonRoster(team_id = '1610612744', season = '2001-02')
df_Rockets2001 = TeamCommonRoster(team_id = '1610612745', season = '2001-02')
df_Pacers2001 = TeamCommonRoster(team_id = '1610612754', season = '2001-02')
df_Clippers2001 = TeamCommonRoster(team_id = '1610612746', season = '2001-02')
df_Lakers2001 = TeamCommonRoster(team_id = '1610612747', season = '2000-01')
df_Grizzlies2001 = TeamCommonRoster(team_id = '1610612763', season = '2001-02')
df_Heat2001 = TeamCommonRoster(team_id = '1610612748', season = '2001-02')
df_Bucks2001 = TeamCommonRoster(team_id = '1610612749', season = '2001-02')
df_Timberwolves2001 = TeamCommonRoster(team_id = '1610612750', season = '2001-02')
df_Pelicans2001 = TeamCommonRoster(team_id = '1610612740', season = '2001-02')
df_Knicks2001 = TeamCommonRoster(team_id = '1610612752', season = '2001-02')
df_Thunder2001 = TeamCommonRoster(team_id = '1610612760', season = '2001-02')
df_Magic2001 = TeamCommonRoster(team_id = '1610612753', season = '2001-02')
df_Sixers2001 = TeamCommonRoster(team_id = '1610612755', season = '2001-02')
df_Suns2001 = TeamCommonRoster(team_id = '1610612756', season = '2001-02')
df_TrailBlazers2001 = TeamCommonRoster(team_id = '1610612757', season = '2001-02')
df_Kings2001 = TeamCommonRoster(team_id = '1610612758', season = '2001-02')
df_Spurs2001 = TeamCommonRoster(team_id = '1610612759', season = '2001-02')
df_Raptors2001 = TeamCommonRoster(team_id = '1610612761', season = '2001-02')
df_Jazz2001 = TeamCommonRoster(team_id = '1610612762', season = '2001-02')
df_Wizards2001 = TeamCommonRoster(team_id = '1610612764', season = '2001-02')

In [ ]:
#2002 rosters for all the teams

df_Hawks2002 = TeamCommonRoster(team_id = '1610612737', season = '2002-03')
df_Celtics2002 = TeamCommonRoster(team_id = '1610612738', season = '2002-03')
df_Nets2002 = TeamCommonRoster(team_id = '1610612751', season = '2002-03')
df_Hornets2002 = TeamCommonRoster(team_id = '1610612766', season = '2002-03')
df_Bulls2002 = TeamCommonRoster(team_id = '1610612741', season = '2002-03')
df_Cavaliers2002 = TeamCommonRoster(team_id = '1610612739', season = '2002-03')
df_Mavericks2002 = TeamCommonRoster(team_id = '1610612742', season = '2002-03')
df_Nuggets2002 = TeamCommonRoster(team_id = '1610612743', season = '2002-03')
df_Pistons2002 = TeamCommonRoster(team_id = '1610612765', season = '2002-03')
df_Warriors2002 = TeamCommonRoster(team_id = '1610612744', season = '2002-03')
df_Rockets2002 = TeamCommonRoster(team_id = '1610612745', season = '2002-03')
df_Pacers2002 = TeamCommonRoster(team_id = '1610612754', season = '2002-03')
df_Clippers2002 = TeamCommonRoster(team_id = '1610612746', season = '2002-03')
df_Lakers2002 = TeamCommonRoster(team_id = '1610612747', season = '2002-03')
df_Grizzlies2002 = TeamCommonRoster(team_id = '1610612763', season = '2002-03')
df_Heat2002 = TeamCommonRoster(team_id = '1610612748', season = '2002-03')
df_Bucks2002 = TeamCommonRoster(team_id = '1610612749', season = '2002-03')
df_Timberwolves2002 = TeamCommonRoster(team_id = '1610612750', season = '2002-03')
df_Pelicans2002 = TeamCommonRoster(team_id = '1610612740', season = '2002-03')
df_Knicks2002 = TeamCommonRoster(team_id = '1610612752', season = '2002-03')
df_Thunder2002 = TeamCommonRoster(team_id = '1610612760', season = '2002-03')
df_Magic2002 = TeamCommonRoster(team_id = '1610612753', season = '2002-03')
df_Sixers2002 = TeamCommonRoster(team_id = '1610612755', season = '2002-03')
df_Suns2002 = TeamCommonRoster(team_id = '1610612756', season = '2002-03')
df_TrailBlazers2002 = TeamCommonRoster(team_id = '1610612757', season = '2002-03')
df_Kings2002 = TeamCommonRoster(team_id = '1610612758', season = '2002-03')
df_Spurs2002 = TeamCommonRoster(team_id = '1610612759', season = '2002-03')
df_Raptors2002 = TeamCommonRoster(team_id = '1610612761', season = '2002-03')
df_Jazz2002 = TeamCommonRoster(team_id = '1610612762', season = '2002-03')
df_Wizards2002 = TeamCommonRoster(team_id = '1610612764', season = '2002-03')

In [ ]:
#2003 rosters for all the 


df_Hawks2003 = TeamCommonRoster(team_id = '1610612737', season = '2003-04')
df_Celtics2003 = TeamCommonRoster(team_id = '1610612738', season = '2003-04')
df_Nets2003 = TeamCommonRoster(team_id = '1610612751', season = '2003-04')
df_Hornets2003 = TeamCommonRoster(team_id = '1610612766', season = '2003-04')
df_Bulls2003 = TeamCommonRoster(team_id = '1610612741', season = '2003-04')
df_Cavaliers2003 = TeamCommonRoster(team_id = '1610612739', season = '2003-04')
df_Mavericks2003 = TeamCommonRoster(team_id = '1610612742', season = '2003-04')
df_Nuggets2003 = TeamCommonRoster(team_id = '1610612743', season = '2003-04')
df_Pistons2003 = TeamCommonRoster(team_id = '1610612765', season = '2003-04')
df_Warriors2003 = TeamCommonRoster(team_id = '1610612744', season = '2003-04')
df_Rockets2003 = TeamCommonRoster(team_id = '1610612745', season = '2003-04')
df_Pacers2003 = TeamCommonRoster(team_id = '1610612754', season = '2003-04')
df_Clippers2003 = TeamCommonRoster(team_id = '1610612746', season = '2003-04')
df_Lakers2003 = TeamCommonRoster(team_id = '1610612747', season = '2003-04')
df_Grizzlies2003 = TeamCommonRoster(team_id = '1610612763', season = '2003-04')
df_Heat2003 = TeamCommonRoster(team_id = '1610612748', season = '2003-04')
df_Bucks2003 = TeamCommonRoster(team_id = '1610612749', season = '2003-04')
df_Timberwolves2003 = TeamCommonRoster(team_id = '1610612750', season = '2003-04')
df_Pelicans2003 = TeamCommonRoster(team_id = '1610612740', season = '2003-04')
df_Knicks2003 = TeamCommonRoster(team_id = '1610612752', season = '2003-04')
df_Thunder2003 = TeamCommonRoster(team_id = '1610612760', season = '2003-04')
df_Magic2003 = TeamCommonRoster(team_id = '1610612753', season = '2003-04')
df_Sixers2003 = TeamCommonRoster(team_id = '1610612755', season = '2003-04')
df_Suns2003 = TeamCommonRoster(team_id = '1610612756', season = '2003-04')
df_TrailBlazers2003 = TeamCommonRoster(team_id = '1610612757', season = '2003-04')
df_Kings2003 = TeamCommonRoster(team_id = '1610612758', season = '2003-04')
df_Spurs2003 = TeamCommonRoster(team_id = '1610612759', season = '2003-04')
df_Raptors2003 = TeamCommonRoster(team_id = '1610612761', season = '2003-04')
df_Jazz2003 = TeamCommonRoster(team_id = '1610612762', season = '2003-04')
df_Wizards2003 = TeamCommonRoster(team_id = '1610612764', season = '2003-04')

In [ ]:
#2004 rosters for all the teams


df_Hawks2004 = TeamCommonRoster(team_id = '1610612737', season = '2004-05')
df_Celtics2004 = TeamCommonRoster(team_id = '1610612738', season = '2004-05')
df_Nets2004 = TeamCommonRoster(team_id = '1610612751', season = '2004-05')
df_Hornets2004 = TeamCommonRoster(team_id = '1610612766', season = '2004-05')
df_Bulls2004 = TeamCommonRoster(team_id = '1610612741', season = '2004-05')
df_Cavaliers2004 = TeamCommonRoster(team_id = '1610612739', season = '2004-05')
df_Mavericks2004 = TeamCommonRoster(team_id = '1610612742', season = '2004-05')
df_Nuggets2004 = TeamCommonRoster(team_id = '1610612743', season = '2004-05')
df_Pistons2004 = TeamCommonRoster(team_id = '1610612765', season = '2004-05')
df_Warriors2004 = TeamCommonRoster(team_id = '1610612744', season = '2004-05')
df_Rockets2004 = TeamCommonRoster(team_id = '1610612745', season = '2004-05')
df_Pacers2004 = TeamCommonRoster(team_id = '1610612754', season = '2004-05')
df_Clippers2004 = TeamCommonRoster(team_id = '1610612746', season = '2004-05')
df_Lakers2004 = TeamCommonRoster(team_id = '1610612747', season = '2004-05')
df_Grizzlies2004 = TeamCommonRoster(team_id = '1610612763', season = '2004-05')
df_Heat2004 = TeamCommonRoster(team_id = '1610612748', season = '2004-05')
df_Bucks2004 = TeamCommonRoster(team_id = '1610612749', season = '2004-05')
df_Timberwolves2004 = TeamCommonRoster(team_id = '1610612750', season = '2004-05')
df_Pelicans2004 = TeamCommonRoster(team_id = '1610612740', season = '2004-05')
df_Knicks2004 = TeamCommonRoster(team_id = '1610612752', season = '2004-05')
df_Thunder2004 = TeamCommonRoster(team_id = '1610612760', season = '2004-05')
df_Magic2004 = TeamCommonRoster(team_id = '1610612753', season = '2004-05')
df_Sixers2004 = TeamCommonRoster(team_id = '1610612755', season = '2004-05')
df_Suns2004 = TeamCommonRoster(team_id = '1610612756', season = '2004-05')
df_TrailBlazers2004 = TeamCommonRoster(team_id = '1610612757', season = '2004-05')
df_Kings2004 = TeamCommonRoster(team_id = '1610612758', season = '2004-05')
df_Spurs2004 = TeamCommonRoster(team_id = '1610612759', season = '2004-05')
df_Raptors2004 = TeamCommonRoster(team_id = '1610612761', season = '2004-05')
df_Jazz2004 = TeamCommonRoster(team_id = '1610612762', season = '2004-05')
df_Wizards2004 = TeamCommonRoster(team_id = '1610612764', season = '2004-05')

In [ ]:
#2005 rosters for all the teams

df_Hawks2005 = TeamCommonRoster(team_id = '1610612737', season = '2005-06')
df_Celtics2005 = TeamCommonRoster(team_id = '1610612738', season = '2005-06')
df_Hawks2005 = TeamCommonRoster(team_id = '1610612739', season = '2005-06')
df_Nets2005 = TeamCommonRoster(team_id = '1610612751', season = '2005-06')
df_Hornets2005 = TeamCommonRoster(team_id = '1610612766', season = '2005-06')
df_Bulls2005 = TeamCommonRoster(team_id = '1610612741', season = '2005-06')
df_Cavaliers2005 = TeamCommonRoster(team_id = '1610612739', season = '2005-06')
df_Mavericks2005 = TeamCommonRoster(team_id = '1610612742', season = '2005-06')
df_Nuggets2005 = TeamCommonRoster(team_id = '1610612743', season = '2005-06')
df_Pistons2005 = TeamCommonRoster(team_id = '1610612765', season = '2005-06')
df_Warriors2005 = TeamCommonRoster(team_id = '1610612744', season = '2005-06')
df_Rockets2005 = TeamCommonRoster(team_id = '1610612745', season = '2005-06')
df_Pacers2005 = TeamCommonRoster(team_id = '1610612754', season = '2005-06')
df_Clippers2005 = TeamCommonRoster(team_id = '1610612746', season = '2005-06')
df_Lakers2005 = TeamCommonRoster(team_id = '1610612747', season = '2005-06')
df_Grizzlies2005 = TeamCommonRoster(team_id = '1610612763', season = '2005-06')
df_Heat2005 = TeamCommonRoster(team_id = '1610612748', season = '2005-06')
df_Bucks2005 = TeamCommonRoster(team_id = '1610612749', season = '2005-06')
df_Timberwolves2005 = TeamCommonRoster(team_id = '1610612750', season = '2005-06')
df_Pelicans2005 = TeamCommonRoster(team_id = '1610612740', season = '2005-06')
df_Knicks2005 = TeamCommonRoster(team_id = '1610612752', season = '2005-06')
df_Thunder2005 = TeamCommonRoster(team_id = '1610612760', season = '2005-06')
df_Magic2005 = TeamCommonRoster(team_id = '1610612753', season = '2005-06')
df_Sixers2005 = TeamCommonRoster(team_id = '1610612755', season = '2005-06')
df_Suns2005 = TeamCommonRoster(team_id = '1610612756', season = '2005-06')
df_TrailBlazers2005 = TeamCommonRoster(team_id = '1610612757', season = '2005-06')
df_Kings2005 = TeamCommonRoster(team_id = '1610612758', season = '2005-06')
df_Spurs2005 = TeamCommonRoster(team_id = '1610612759', season = '2005-06')
df_Raptors2005 = TeamCommonRoster(team_id = '1610612761', season = '2005-06')
df_Jazz2005 = TeamCommonRoster(team_id = '1610612762', season = '2005-06')
df_Wizards2005 = TeamCommonRoster(team_id = '1610612764', season = '2005-06')

In [ ]:
#2006 rosters for all the teams


df_Hawks2006 = TeamCommonRoster(team_id = '1610612737', season = '2006-07')
df_Celtics2006 = TeamCommonRoster(team_id = '1610612738', season = '2006-07')
df_Nets2006 = TeamCommonRoster(team_id = '1610612751', season = '2006-07')
df_Hornets2006 = TeamCommonRoster(team_id = '1610612766', season = '2006-07')
df_Bulls2006 = TeamCommonRoster(team_id = '1610612741', season = '2006-07')
df_Cavaliers2006 = TeamCommonRoster(team_id = '1610612739', season = '2006-07')
df_Mavericks2006 = TeamCommonRoster(team_id = '1610612742', season = '2006-07')
df_Nuggets2006 = TeamCommonRoster(team_id = '1610612743', season = '2006-07')
df_Pistons2006 = TeamCommonRoster(team_id = '1610612765', season = '2006-07')
df_Warriors2006 = TeamCommonRoster(team_id = '1610612744', season = '2006-07')
df_Rockets2006 = TeamCommonRoster(team_id = '1610612745', season = '2006-07')
df_Pacers2006 = TeamCommonRoster(team_id = '1610612754', season = '2006-07')
df_Clippers2006 = TeamCommonRoster(team_id = '1610612746', season = '2006-07')
df_Grizzlies2006 = TeamCommonRoster(team_id = '1610612763', season = '2006-07')
df_Lakers2006 = TeamCommonRoster(team_id = '1610612747', season = '2006-07')
df_Heat2006 = TeamCommonRoster(team_id = '1610612748', season = '2006-07')
df_Bucks2006 = TeamCommonRoster(team_id = '1610612749', season = '2006-07')
df_Timberwolves2006 = TeamCommonRoster(team_id = '1610612750', season = '2006-07')
df_Pelicans2006 = TeamCommonRoster(team_id = '1610612740', season = '2006-07')
df_Knicks2006 = TeamCommonRoster(team_id = '1610612752', season = '2006-07')
df_Thunder2006 = TeamCommonRoster(team_id = '1610612760', season = '2006-07')
df_Magic2006 = TeamCommonRoster(team_id = '1610612753', season = '2006-07')
df_Sixers2006 = TeamCommonRoster(team_id = '1610612755', season = '2006-07')
df_Suns2006 = TeamCommonRoster(team_id = '1610612756', season = '2006-07')
df_TrailBlazers2006 = TeamCommonRoster(team_id = '1610612757', season = '2006-07')
df_Kings2006 = TeamCommonRoster(team_id = '1610612758', season = '2006-07')
df_Spurs2006 = TeamCommonRoster(team_id = '1610612759', season = '2006-07')
df_Raptors2006 = TeamCommonRoster(team_id = '1610612761', season = '2006-07')
df_Jazz2006 = TeamCommonRoster(team_id = '1610612762', season = '2006-07')
df_Wizards2006 = TeamCommonRoster(team_id = '1610612764', season = '2006-07')

In [ ]:
#2007 rosters for all the teams


df_Hawks2007 = TeamCommonRoster(team_id = '1610612737', season = '2007-08')
df_Celtics2007 = TeamCommonRoster(team_id = '1610612738', season = '2007-08')
df_Nets2007 = TeamCommonRoster(team_id = '1610612751', season = '2007-08')
df_Hornets2007 = TeamCommonRoster(team_id = '1610612766', season = '2007-08')
df_Bulls2007 = TeamCommonRoster(team_id = '1610612741', season = '2007-08')
df_Cavaliers2007 = TeamCommonRoster(team_id = '1610612739', season = '2007-08')
df_Mavericks2007 = TeamCommonRoster(team_id = '1610612742', season = '2007-08')
df_Nuggets2007 = TeamCommonRoster(team_id = '1610612743', season = '2007-08')
df_Pistons2007 = TeamCommonRoster(team_id = '1610612765', season = '2007-08')
df_Warriors2007 = TeamCommonRoster(team_id = '1610612744', season = '2007-08')
df_Rockets2007 = TeamCommonRoster(team_id = '1610612745', season = '2007-08')
df_Pacers2007 = TeamCommonRoster(team_id = '1610612754', season = '2007-08')
df_Clippers2007 = TeamCommonRoster(team_id = '1610612746', season = '2007-08')
df_Lakers2007 = TeamCommonRoster(team_id = '1610612747', season = '2007-08')
df_Grizzlies2007 = TeamCommonRoster(team_id = '1610612763', season = '2007-08')
df_Heat2007 = TeamCommonRoster(team_id = '1610612748', season = '2007-08')
df_Bucks2007 = TeamCommonRoster(team_id = '1610612749', season = '2007-08')
df_Timberwolves2007 = TeamCommonRoster(team_id = '1610612750', season = '2007-08')
df_Pelicans2007 = TeamCommonRoster(team_id = '1610612740', season = '2007-08')
df_Knicks2007 = TeamCommonRoster(team_id = '1610612752', season = '2007-08')
df_Thunder2007 = TeamCommonRoster(team_id = '1610612760', season = '2007-08')
df_Magic2007 = TeamCommonRoster(team_id = '1610612753', season = '2007-08')
df_Sixers2007 = TeamCommonRoster(team_id = '1610612755', season = '2007-08')
df_Suns2007 = TeamCommonRoster(team_id = '1610612756', season = '2007-08')
df_TrailBlazers2007 = TeamCommonRoster(team_id = '1610612757', season = '2007-08')
df_Kings2007 = TeamCommonRoster(team_id = '1610612758', season = '2007-08')
df_Spurs2007 = TeamCommonRoster(team_id = '1610612759', season = '2007-08')
df_Raptors2007 = TeamCommonRoster(team_id = '1610612761', season = '2007-08')
df_Jazz2007 = TeamCommonRoster(team_id = '1610612762', season = '2007-08')
df_Wizards2007 = TeamCommonRoster(team_id = '1610612764', season = '2007-08')

In [ ]:
#2008 rosters for all the teams


df_Hawks2008 = TeamCommonRoster(team_id = '1610612737', season = '2008-09')
df_Celtics2008 = TeamCommonRoster(team_id = '1610612738', season = '2008-09')
df_Nets2008 = TeamCommonRoster(team_id = '1610612751', season = '2008-09')
df_Hornets2008 = TeamCommonRoster(team_id = '1610612766', season = '2008-09')
df_Bulls2008 = TeamCommonRoster(team_id = '1610612741', season = '2008-09')
df_Cavaliers2008 = TeamCommonRoster(team_id = '1610612739', season = '2008-09')
df_Mavericks2008 = TeamCommonRoster(team_id = '1610612742', season = '2008-09')
df_Nuggets2008 = TeamCommonRoster(team_id = '1610612743', season = '2008-09')
df_Pistons2008 = TeamCommonRoster(team_id = '1610612765', season = '2008-09')
df_Warriors2008 = TeamCommonRoster(team_id = '1610612744', season = '2008-09')
df_Rockets2008 = TeamCommonRoster(team_id = '1610612745', season = '2008-09')
df_Pacers2008 = TeamCommonRoster(team_id = '1610612754', season = '2008-09')
df_Clippers2008 = TeamCommonRoster(team_id = '1610612746', season = '2008-09')
df_Lakers2008 = TeamCommonRoster(team_id = '1610612747', season = '2008-09')
df_Grizzlies2008 = TeamCommonRoster(team_id = '1610612763', season = '2008-09')
df_Heat2008 = TeamCommonRoster(team_id = '1610612748', season = '2008-09')
df_Bucks2008 = TeamCommonRoster(team_id = '1610612749', season = '2008-09')
df_Timberwolves2008 = TeamCommonRoster(team_id = '1610612750', season = '2008-09')
df_Pelicans2008 = TeamCommonRoster(team_id = '1610612740', season = '2008-09')
df_Knicks2008 = TeamCommonRoster(team_id = '1610612752', season = '2008-09')
df_Thunder2008 = TeamCommonRoster(team_id = '1610612760', season = '2008-09')
df_Magic2008 = TeamCommonRoster(team_id = '1610612753', season = '2008-09')
df_Sixers2008 = TeamCommonRoster(team_id = '1610612755', season = '2008-09')
df_Suns2008 = TeamCommonRoster(team_id = '1610612756', season = '2008-09')
df_TrailBlazers2008 = TeamCommonRoster(team_id = '1610612757', season = '2008-09')
df_Kings2008 = TeamCommonRoster(team_id = '1610612758', season = '2008-09')
df_Spurs2008 = TeamCommonRoster(team_id = '1610612759', season = '2008-09')
df_Raptors2008 = TeamCommonRoster(team_id = '1610612761', season = '2008-09')
df_Jazz2008 = TeamCommonRoster(team_id = '1610612762', season = '2008-09')
df_Wizards2008 = TeamCommonRoster(team_id = '1610612764', season = '2008-09')

In [ ]:
#2009 rosters for all the teams


df_Hawks2009 = TeamCommonRoster(team_id = '1610612737', season = '2009-10')
df_Celtics2009 = TeamCommonRoster(team_id = '1610612738', season = '2009-10')
df_Nets2009 = TeamCommonRoster(team_id = '1610612751', season = '2009-10')
df_Hornets2009 = TeamCommonRoster(team_id = '1610612766', season = '2009-10')
df_Bulls2009 = TeamCommonRoster(team_id = '1610612741', season = '2009-10')
df_Cavaliers2009 = TeamCommonRoster(team_id = '1610612739', season = '2009-10')
df_Mavericks2009 = TeamCommonRoster(team_id = '1610612742', season = '2009-10')
df_Nuggets2009 = TeamCommonRoster(team_id = '1610612743', season = '2009-10')
df_Pistons2009 = TeamCommonRoster(team_id = '1610612765', season = '2009-10')
df_Warriors2009 = TeamCommonRoster(team_id = '1610612744', season = '2009-10')
df_Rockets2009 = TeamCommonRoster(team_id = '1610612745', season = '2009-10')
df_Pacers2009 = TeamCommonRoster(team_id = '1610612754', season = '2009-10')
df_Clippers2009 = TeamCommonRoster(team_id = '1610612746', season = '2009-10')
df_Lakers2009 = TeamCommonRoster(team_id = '1610612747', season = '2009-10')
df_Grizzlies2009 = TeamCommonRoster(team_id = '1610612763', season = '2009-10')
df_Heat2009 = TeamCommonRoster(team_id = '1610612748', season = '2009-10')
df_Bucks2009 = TeamCommonRoster(team_id = '1610612749', season = '2009-10')
df_Timberwolves2009 = TeamCommonRoster(team_id = '1610612750', season = '2009-10')
df_Pelicans2009 = TeamCommonRoster(team_id = '1610612740', season = '2009-10')
df_Knicks2009 = TeamCommonRoster(team_id = '1610612752', season = '2009-10')
df_Thunder2009 = TeamCommonRoster(team_id = '1610612760', season = '2009-10')
df_Magic2009 = TeamCommonRoster(team_id = '1610612753', season = '2009-10')
df_Sixers2009 = TeamCommonRoster(team_id = '1610612755', season = '2009-10')
df_Suns2009 = TeamCommonRoster(team_id = '1610612756', season = '2009-10')
df_TrailBlazers2009 = TeamCommonRoster(team_id = '1610612757', season = '2009-10')
df_Kings2009 = TeamCommonRoster(team_id = '1610612758', season = '2009-10')
df_Spurs2009 = TeamCommonRoster(team_id = '1610612759', season = '2009-10')
df_Raptors2009 = TeamCommonRoster(team_id = '1610612761', season = '2009-10')
df_Jazz2009 = TeamCommonRoster(team_id = '1610612762', season = '2009-10')
df_Wizards2009 = TeamCommonRoster(team_id = '1610612764', season = '2009-10')

In [ ]:
#2010 rosters for all the teams


df_Hawks2010 = TeamCommonRoster(team_id = '1610612737', season = '2010-11')
df_Celtics2010 = TeamCommonRoster(team_id = '1610612738', season = '2010-11')
df_Nets2010 = TeamCommonRoster(team_id = '1610612751', season = '2010-11')
df_Hornets2010 = TeamCommonRoster(team_id = '1610612766', season = '2010-11')
df_Bulls2010 = TeamCommonRoster(team_id = '1610612741', season = '2010-11')
df_Cavaliers2010 = TeamCommonRoster(team_id = '1610612739', season = '2010-11')
df_Mavericks2010 = TeamCommonRoster(team_id = '1610612742', season = '2010-11')
df_Nuggets2010 = TeamCommonRoster(team_id = '1610612743', season = '2010-11')
df_Pistons2010 = TeamCommonRoster(team_id = '1610612765', season = '2010-11')
df_Warriors2010 = TeamCommonRoster(team_id = '1610612744', season = '2010-11')
df_Rockets2010 = TeamCommonRoster(team_id = '1610612745', season = '2010-11')
df_Pacers2010 = TeamCommonRoster(team_id = '1610612754', season = '2010-11')
df_Clippers2010 = TeamCommonRoster(team_id = '1610612746', season = '2010-11')
df_Lakers2010 = TeamCommonRoster(team_id = '1610612747', season = '2010-11')
df_Grizzlies2010 = TeamCommonRoster(team_id = '1610612763', season = '2010-11')
df_Heat2010 = TeamCommonRoster(team_id = '1610612748', season = '2010-11')
df_Bucks2010 = TeamCommonRoster(team_id = '1610612749', season = '2010-11')
df_Timberwolves2010 = TeamCommonRoster(team_id = '1610612750', season = '2010-11')
df_Pelicans2010 = TeamCommonRoster(team_id = '1610612740', season = '2010-11')
df_Knicks2010 = TeamCommonRoster(team_id = '1610612752', season = '2010-11')
df_Thunder2010 = TeamCommonRoster(team_id = '1610612760', season = '2010-11')
df_Magic2010 = TeamCommonRoster(team_id = '1610612753', season = '2010-11')
df_Sixers2010 = TeamCommonRoster(team_id = '1610612755', season = '2010-11')
df_Suns2010 = TeamCommonRoster(team_id = '1610612756', season = '2010-11')
df_TrailBlazers2010 = TeamCommonRoster(team_id = '1610612757', season = '2010-11')
df_Kings2010 = TeamCommonRoster(team_id = '1610612758', season = '2010-11')
df_Spurs2010 = TeamCommonRoster(team_id = '1610612759', season = '2010-11')
df_Raptors2010 = TeamCommonRoster(team_id = '1610612761', season = '2010-11')
df_Jazz2010 = TeamCommonRoster(team_id = '1610612762', season = '2010-11')
df_Wizards2010 = TeamCommonRoster(team_id = '1610612764', season = '2010-11')

In [ ]:
#2011 rosters for all the teams


df_Hawks2011 = TeamCommonRoster(team_id = '1610612737', season = '2011-12')
df_Celtics2011 = TeamCommonRoster(team_id = '1610612738', season = '2011-12')
df_Nets2011 = TeamCommonRoster(team_id = '1610612751', season = '2011-12')
df_Hornets2011 = TeamCommonRoster(team_id = '1610612766', season = '2011-12')
df_Bulls2011 = TeamCommonRoster(team_id = '1610612741', season = '2011-12')
df_Cavaliers2011 = TeamCommonRoster(team_id = '1610612739', season = '2011-12')
df_Mavericks2011 = TeamCommonRoster(team_id = '1610612742', season = '2011-12')
df_Nuggets2011 = TeamCommonRoster(team_id = '1610612743', season = '2011-12')
df_Pistons2011 = TeamCommonRoster(team_id = '1610612765', season = '2011-12')
df_Warriors2011 = TeamCommonRoster(team_id = '1610612744', season = '2011-12')
df_Rockets2011 = TeamCommonRoster(team_id = '1610612745', season = '2011-12')
df_Pacers2011 = TeamCommonRoster(team_id = '1610612754', season = '2011-12')
df_Clippers2011 = TeamCommonRoster(team_id = '1610612746', season = '2011-12')
df_Lakers2011 = TeamCommonRoster(team_id = '1610612747', season = '2011-12')
df_Grizzlies2011 = TeamCommonRoster(team_id = '1610612763', season = '2011-12')
df_Heat2011 = TeamCommonRoster(team_id = '1610612748', season = '2011-12')
df_Bucks2011 = TeamCommonRoster(team_id = '1610612749', season = '2011-12')
df_Timberwolves2011 = TeamCommonRoster(team_id = '1610612750', season = '2011-12')
df_Pelicans2011 = TeamCommonRoster(team_id = '1610612740', season = '2011-12')
df_Knicks2011 = TeamCommonRoster(team_id = '1610612752', season = '2011-12')
df_Thunder2011 = TeamCommonRoster(team_id = '1610612760', season = '2011-12')
df_Magic2011 = TeamCommonRoster(team_id = '1610612753', season = '2011-12')
df_Sixers2011 = TeamCommonRoster(team_id = '1610612755', season = '2011-12')
df_Suns2011 = TeamCommonRoster(team_id = '1610612756', season = '2011-12')
df_TrailBlazers2011 = TeamCommonRoster(team_id = '1610612757', season = '2011-12')
df_Kings2011 = TeamCommonRoster(team_id = '1610612758', season = '2011-12')
df_Spurs2011 = TeamCommonRoster(team_id = '1610612759', season = '2011-12')
df_Raptors2011 = TeamCommonRoster(team_id = '1610612761', season = '2011-12')
df_Jazz2011 = TeamCommonRoster(team_id = '1610612762', season = '2011-12')
df_Wizards2011 = TeamCommonRoster(team_id = '1610612764', season = '2011-12')

In [ ]:
#2012 rosters for all the teams


df_Hawks2012 = TeamCommonRoster(team_id = '1610612737', season = '2012-13')
df_Celtics2012 = TeamCommonRoster(team_id = '1610612738', season = '2012-13')
df_Nets2012 = TeamCommonRoster(team_id = '1610612751', season = '2012-13')
df_Hornets2012 = TeamCommonRoster(team_id = '1610612766', season = '2012-13')
df_Bulls2012 = TeamCommonRoster(team_id = '1610612741', season = '2012-13')
df_Cavaliers2012 = TeamCommonRoster(team_id = '1610612739', season = '2012-13')
df_Mavericks2012 = TeamCommonRoster(team_id = '1610612742', season = '2012-13')
df_Nuggets2012 = TeamCommonRoster(team_id = '1610612743', season = '2012-13')
df_Pistons2012 = TeamCommonRoster(team_id = '1610612765', season = '2012-13')
df_Warriors2012 = TeamCommonRoster(team_id = '1610612744', season = '2012-13')
df_Rockets2012 = TeamCommonRoster(team_id = '1610612745', season = '2012-13')
df_Pacers2012 = TeamCommonRoster(team_id = '1610612754', season = '2012-13')
df_Clippers2012 = TeamCommonRoster(team_id = '1610612746', season = '2012-13')
df_Lakers2012 = TeamCommonRoster(team_id = '1610612747', season = '2012-13')
df_Grizzlies2012 = TeamCommonRoster(team_id = '1610612763', season = '2012-13')
df_Heat2012 = TeamCommonRoster(team_id = '1610612748', season = '2012-13')
df_Bucks2012 = TeamCommonRoster(team_id = '1610612749', season = '2012-13')
df_Timberwolves2012 = TeamCommonRoster(team_id = '1610612750', season = '2012-13')
df_Pelicans2012 = TeamCommonRoster(team_id = '1610612740', season = '2012-13')
df_Knicks2012 = TeamCommonRoster(team_id = '1610612752', season = '2012-13')
df_Thunder2012 = TeamCommonRoster(team_id = '1610612760', season = '2012-13')
df_Magic2012 = TeamCommonRoster(team_id = '1610612753', season = '2012-13')
df_Sixers2012 = TeamCommonRoster(team_id = '1610612755', season = '2012-13')
df_Suns2012 = TeamCommonRoster(team_id = '1610612756', season = '2012-13')
df_TrailBlazers2012 = TeamCommonRoster(team_id = '1610612757', season = '2012-13')
df_Kings2012 = TeamCommonRoster(team_id = '1610612758', season = '2012-13')
df_Spurs2012 = TeamCommonRoster(team_id = '1610612759', season = '2012-13')
df_Raptors2012 = TeamCommonRoster(team_id = '1610612761', season = '2012-13')
df_Jazz2012 = TeamCommonRoster(team_id = '1610612762', season = '2012-13')
df_Wizards2012 = TeamCommonRoster(team_id = '1610612764', season = '2012-13')

In [ ]:
#2013 rosters for all the teams


df_Hawks2013 = TeamCommonRoster(team_id = '1610612737', season = '2013-14')
df_Celtics2013 = TeamCommonRoster(team_id = '1610612738', season = '2013-14')
df_Nets2013 = TeamCommonRoster(team_id = '1610612751', season = '2013-14')
df_Hornets2013 = TeamCommonRoster(team_id = '1610612766', season = '2013-14')
df_Bulls2013 = TeamCommonRoster(team_id = '1610612741', season = '2013-14')
df_Cavaliers2013 = TeamCommonRoster(team_id = '1610612739', season = '2013-14')
df_Mavericks2013 = TeamCommonRoster(team_id = '1610612742', season = '2013-14')
df_Nuggets2013 = TeamCommonRoster(team_id = '1610612743', season = '2013-14')
df_Pistons2013 = TeamCommonRoster(team_id = '1610612765', season = '2013-14')
df_Warriors2013 = TeamCommonRoster(team_id = '1610612744', season = '2013-14')
df_Rockets2013 = TeamCommonRoster(team_id = '1610612745', season = '2013-14')
df_Pacers2013 = TeamCommonRoster(team_id = '1610612754', season = '2013-14')
df_Clippers2013 = TeamCommonRoster(team_id = '1610612746', season = '2013-14')
df_Lakers2013 = TeamCommonRoster(team_id = '1610612747', season = '2013-14')
df_Grizzlies2013 = TeamCommonRoster(team_id = '1610612763', season = '2013-14')
df_Heat2013 = TeamCommonRoster(team_id = '1610612748', season = '2013-14')
df_Bucks2013 = TeamCommonRoster(team_id = '1610612749', season = '2013-14')
df_Timberwolves2013 = TeamCommonRoster(team_id = '1610612750', season = '2013-14')
df_Pelicans2013 = TeamCommonRoster(team_id = '1610612740', season = '2013-14')
df_Knicks2013 = TeamCommonRoster(team_id = '1610612752', season = '2013-14')
df_Thunder2013 = TeamCommonRoster(team_id = '1610612760', season = '2013-14')
df_Magic2013 = TeamCommonRoster(team_id = '1610612753', season = '2013-14')
df_Sixers2013 = TeamCommonRoster(team_id = '1610612755', season = '2013-14')
df_Suns2013 = TeamCommonRoster(team_id = '1610612756', season = '2013-14')
df_TrailBlazers2013 = TeamCommonRoster(team_id = '1610612757', season = '2013-14')
df_Kings2013 = TeamCommonRoster(team_id = '1610612758', season = '2013-14')
df_Spurs2013 = TeamCommonRoster(team_id = '1610612759', season = '2013-14')
df_Raptors2013 = TeamCommonRoster(team_id = '1610612761', season = '2013-14')
df_Jazz2013 = TeamCommonRoster(team_id = '1610612762', season = '2013-14')
df_Wizards2013 = TeamCommonRoster(team_id = '1610612764', season = '2013-14')

In [ ]:
#2014 rosters for all the teams

df_Hawks2014 = TeamCommonRoster(team_id = '1610612737', season = '2014-15')
df_Celtics2014 = TeamCommonRoster(team_id = '1610612738', season = '2014-15')
df_Nets2014 = TeamCommonRoster(team_id = '1610612751', season = '2014-15')
df_Hornets2014 = TeamCommonRoster(team_id = '1610612766', season = '2014-15')
df_Bulls2014 = TeamCommonRoster(team_id = '1610612741', season = '2014-15')
df_Cavaliers2014 = TeamCommonRoster(team_id = '1610612739', season = '2014-15')
df_Mavericks2014 = TeamCommonRoster(team_id = '1610612742', season = '2014-15')
df_Nuggets2014 = TeamCommonRoster(team_id = '1610612743', season = '2014-15')
df_Pistons2014 = TeamCommonRoster(team_id = '1610612765', season = '2014-15')
df_Warriors2014 = TeamCommonRoster(team_id = '1610612744', season = '2014-15')
df_Rockets2014 = TeamCommonRoster(team_id = '1610612745', season = '2014-15')
df_Pacers2014 = TeamCommonRoster(team_id = '1610612754', season = '2014-15')
df_Clippers2014 = TeamCommonRoster(team_id = '1610612746', season = '2014-15')
df_Lakers2014 = TeamCommonRoster(team_id = '1610612747', season = '2014-15')
df_Grizzlies2014 = TeamCommonRoster(team_id = '1610612763', season = '2014-15')
df_Heat2014 = TeamCommonRoster(team_id = '1610612748', season = '2014-15')
df_Bucks2014 = TeamCommonRoster(team_id = '1610612749', season = '2014-15')
df_Timberwolves2014 = TeamCommonRoster(team_id = '1610612750', season = '2014-15')
df_Pelicans2014 = TeamCommonRoster(team_id = '1610612740', season = '2014-15')
df_Knicks2014 = TeamCommonRoster(team_id = '1610612752', season = '2014-15')
df_Thunder2014 = TeamCommonRoster(team_id = '1610612760', season = '2014-15')
df_Magic2014 = TeamCommonRoster(team_id = '1610612753', season = '2014-15')
df_Sixers2014 = TeamCommonRoster(team_id = '1610612755', season = '2014-15')
df_Suns2014 = TeamCommonRoster(team_id = '1610612756', season = '2014-15')
df_TrailBlazers2014 = TeamCommonRoster(team_id = '1610612757', season = '2014-15')
df_Kings2014 = TeamCommonRoster(team_id = '1610612758', season = '2014-15')
df_Spurs2014 = TeamCommonRoster(team_id = '1610612759', season = '2014-15')
df_Raptors2014 = TeamCommonRoster(team_id = '1610612761', season = '2014-15')
df_Jazz2014 = TeamCommonRoster(team_id = '1610612762', season = '2014-15')
df_Wizards2014 = TeamCommonRoster(team_id = '1610612764', season = '2014-15')

In [ ]:
#2015 rosters for all the teams

df_Hawks2013 = TeamCommonRoster(team_id = '1610612737', season = '2015-16')
df_Celtics2015 = TeamCommonRoster(team_id = '1610612738', season = '2015-16')
df_Nets2015 = TeamCommonRoster(team_id = '1610612751', season = '2015-16')
df_Hornets2015 = TeamCommonRoster(team_id = '1610612766', season = '2015-16')
df_Bulls2015 = TeamCommonRoster(team_id = '1610612741', season = '2015-16')
df_Cavaliers2015 = TeamCommonRoster(team_id = '1610612739', season = '2015-16')
df_Mavericks2015 = TeamCommonRoster(team_id = '1610612742', season = '2015-16')
df_Nuggets2015 = TeamCommonRoster(team_id = '1610612743', season = '2015-16')
df_Pistons2015 = TeamCommonRoster(team_id = '1610612765', season = '2015-16')
df_Warriors2015 = TeamCommonRoster(team_id = '1610612744', season = '2015-16')
df_Rockets2015 = TeamCommonRoster(team_id = '1610612745', season = '2015-16')
df_Pacers2015 = TeamCommonRoster(team_id = '1610612754', season = '2015-16')
df_Clippers2015 = TeamCommonRoster(team_id = '1610612746', season = '2015-16')
df_Lakers2015 = TeamCommonRoster(team_id = '1610612747', season = '2015-16')
df_Grizzlies2015 = TeamCommonRoster(team_id = '1610612763', season = '2015-16')
df_Heat2015 = TeamCommonRoster(team_id = '1610612748', season = '2015-16')
df_Bucks2015 = TeamCommonRoster(team_id = '1610612749', season = '2015-16')
df_Timberwolves2015 = TeamCommonRoster(team_id = '1610612750', season = '2015-16')
df_Pelicans2015 = TeamCommonRoster(team_id = '1610612740', season = '2015-16')
df_Knicks2015 = TeamCommonRoster(team_id = '1610612752', season = '2015-16')
df_Thunder2015 = TeamCommonRoster(team_id = '1610612760', season = '2015-16')
df_Magic2015 = TeamCommonRoster(team_id = '1610612753', season = '2015-16')
df_Sixers2015 = TeamCommonRoster(team_id = '1610612755', season = '2015-16')
df_Suns2015 = TeamCommonRoster(team_id = '1610612756', season = '2015-16')
df_TrailBlazers2015 = TeamCommonRoster(team_id = '1610612757', season = '2015-16')
df_Kings2015 = TeamCommonRoster(team_id = '1610612758', season = '2015-16')
df_Spurs2015 = TeamCommonRoster(team_id = '1610612759', season = '2015-16')
df_Raptors2015 = TeamCommonRoster(team_id = '1610612761', season = '2015-16')
df_Jazz2015 = TeamCommonRoster(team_id = '1610612762', season = '2015-16')
df_Wizards2015 = TeamCommonRoster(team_id = '1610612764', season = '2015-16')

In [ ]:
#2016 rosters for all the teams

df_Hawks2016 = TeamCommonRoster(team_id = '1610612737', season = '2016-17')
df_Celtics2016 = TeamCommonRoster(team_id = '1610612738', season = '2016-17')
df_Nets2016 = TeamCommonRoster(team_id = '1610612751', season = '2016-17')
df_Hornets2016 = TeamCommonRoster(team_id = '1610612766', season = '2016-17')
df_Bulls2016 = TeamCommonRoster(team_id = '1610612741', season = '2016-17')
df_Cavaliers2016 = TeamCommonRoster(team_id = '1610612739', season = '2016-17')
df_Mavericks2016 = TeamCommonRoster(team_id = '1610612742', season = '2016-17')
df_Nuggets2016 = TeamCommonRoster(team_id = '1610612743', season = '2016-17')
df_Pistons2016 = TeamCommonRoster(team_id = '1610612765', season = '2016-17')
df_Warriors2016 = TeamCommonRoster(team_id = '1610612744', season = '2016-17')
df_Rockets2016 = TeamCommonRoster(team_id = '1610612745', season = '2016-17')
df_Pacers2016 = TeamCommonRoster(team_id = '1610612754', season = '2016-17')
df_Clippers2016 = TeamCommonRoster(team_id = '1610612746', season = '2016-17')
df_Lakers2016 = TeamCommonRoster(team_id = '1610612747', season = '2016-17')
df_Grizzlies2016 = TeamCommonRoster(team_id = '1610612763', season = '2016-17')
df_Heat2016 = TeamCommonRoster(team_id = '1610612748', season = '2016-17')
df_Bucks2016 = TeamCommonRoster(team_id = '1610612749', season = '2016-17')
df_Timberwolves2016 = TeamCommonRoster(team_id = '1610612750', season = '2016-17')
df_Pelicans2016 = TeamCommonRoster(team_id = '1610612740', season = '2016-17')
df_Knicks2016 = TeamCommonRoster(team_id = '1610612752', season = '2016-17')
df_Thunder2016 = TeamCommonRoster(team_id = '1610612760', season = '2016-17')
df_Magic2016 = TeamCommonRoster(team_id = '1610612753', season = '2016-17')
df_Sixers2016 = TeamCommonRoster(team_id = '1610612755', season = '2016-17')
df_Suns2016 = TeamCommonRoster(team_id = '1610612756', season = '2016-17')
df_TrailBlazers2016 = TeamCommonRoster(team_id = '1610612757', season = '2016-17')
df_Kings2016 = TeamCommonRoster(team_id = '1610612758', season = '2016-17')
df_Spurs2016 = TeamCommonRoster(team_id = '1610612759', season = '2016-17')
df_Raptors2016 = TeamCommonRoster(team_id = '1610612761', season = '2016-17')
df_Jazz2016 = TeamCommonRoster(team_id = '1610612762', season = '2016-17')
df_Wizards2016 = TeamCommonRoster(team_id = '1610612764', season = '2016-17')

In [ ]:
'''
TEAMS = ['1610612737','1610612738','1610612751','1610612766','1610612741', '1610612739', '1610612742' , '1610612743', '1610612765','1610612744','1610612745', '1610612754', '1610612746', '1610612747', '1610612763', '1610612748', '1610612749', '1610612750', '1610612740', '1610612752', '1610612760','1610612753', '1610612755', '1610612756', '1610612757', '1610612758', '1610612759', '1610612761', '1610612762', '1610612764']
SEASONS = ['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17']
RESULTS = []

for team in TEAMS:    
    for season in SEASONS:
        RESULTS.append(TeamCommonRoster(team_id = team, season = season).roster())
        #for player in players[team]:
            #RESULTS[season][team][player] = TeamCommonRoster(team_id = team, season = season)
            

'''

In [ ]:
'''
TEAMS = ['1610612737','1610612738','1610612751','1610612766','1610612741', '1610612739', '1610612742' , '1610612743', '1610612765','1610612744','1610612745', '1610612754', '1610612746', '1610612747', '1610612763', '1610612748', '1610612749', '1610612750', '1610612740', '1610612752', '1610612760','1610612753', '1610612755', '1610612756', '1610612757', '1610612758', '1610612759', '1610612761', '1610612762', '1610612764']
SEASONS = ['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17']
RESULTS = []

for team in TEAMS:    
    for season in SEASONS:
        for player in team:
            RESULTS.append(TeamCommonRoster(team_id = team, season = season).roster())
        
            #RESULTS[season][team][player] = TeamCommonRoster(team_id = team, season = season)
'''

In [ ]:
#RESULTS

In [ ]:
df_results  = pd.DataFrame(RESULTS)
#df_RESULTS.to_csv('Roster.csv')

writer = pd.ExcelWriter('Roster.xlsx')
df_results.to_excel(writer)
writer.save()