In [57]:
import nba_py
import pandas as pd

from nba_py import game, player, constants, team
from nba_py.player import PlayerList, PlayerCareer
from nba_py.league import PlayerStats, TeamStats
from nba_py.team import TeamCommonRoster, TeamSummary

In [58]:

TEAMS = ['1610612737','1610612738','1610612751','1610612766','1610612741', '1610612739', '1610612742' , '1610612743', '1610612765','1610612744','1610612745', '1610612754', '1610612746', '1610612747', '1610612763', '1610612748', '1610612749', '1610612750', '1610612740', '1610612752', '1610612760','1610612753', '1610612755', '1610612756', '1610612757', '1610612758', '1610612759', '1610612761', '1610612762', '1610612764']

df_RANK2000 = pd.DataFrame()
for team in TEAMS:
    df_RANK2000 = df_RANK2000.append(TeamStats(team_id = team, season ='2000-01').overall())

#df_Rank2000 = pd.DataFrame()
#df_RANK2000 = df_RANK2000.append(TeamStats(team_id = '1610612737', season ='2000-01').overall())

In [83]:
df_RANK2001 = pd.DataFrame()
for team in TEAMS:
    df_RANK2001 = df_RANK2001.append(TeamStats(team_id = team, season ='2001-02').overall())

In [84]:
df_RANK2002 = pd.DataFrame()
for team in TEAMS:
    df_RANK2002 = df_RANK2002.append(TeamStats(team_id = team, season ='2002-03').overall())

In [85]:
df_RANK2003 = pd.DataFrame()
for team in TEAMS:
    df_RANK2003 = df_RANK2003.append(TeamStats(team_id = team, season ='2003-04').overall())

In [86]:
df_RANK2004 = pd.DataFrame()
for team in TEAMS:
    df_RANK2004 = df_RANK2004.append(TeamStats(team_id = team, season ='2004-05').overall())

In [87]:
df_RANK2005 = pd.DataFrame()
for team in TEAMS:
    df_RANK2005 = df_RANK2005.append(TeamStats(team_id = team, season ='2005-06').overall())

In [88]:
df_RANK2006 = pd.DataFrame()
for team in TEAMS:
    df_RANK2006 = df_RANK2006.append(TeamStats(team_id = team, season ='2006-07').overall())

In [89]:
df_RANK2007 = pd.DataFrame()
for team in TEAMS:
    df_RANK2007 = df_RANK2007.append(TeamStats(team_id = team, season ='2007-08').overall())

In [90]:
df_RANK2008 = pd.DataFrame()
for team in TEAMS:
    df_RANK2008 = df_RANK2008.append(TeamStats(team_id = team, season ='2008-09').overall())

In [91]:
df_RANK2009 = pd.DataFrame()
for team in TEAMS:
    df_RANK2009 = df_RANK2009.append(TeamStats(team_id = team, season ='2009-10').overall())

In [92]:
df_RANK2010 = pd.DataFrame()
for team in TEAMS:
    df_RANK2010 = df_RANK2010.append(TeamStats(team_id = team, season ='2010-11').overall())

In [93]:
df_RANK2011 = pd.DataFrame()
for team in TEAMS:
    df_RANK2011 = df_RANK2011.append(TeamStats(team_id = team, season ='2011-12').overall())

In [94]:
df_RANK2012 = pd.DataFrame()
for team in TEAMS:
    df_RANK2012 = df_RANK2012.append(TeamStats(team_id = team, season ='2012-13').overall())

In [95]:
df_RANK2013 = pd.DataFrame()
for team in TEAMS:
    df_RANK2013 = df_RANK2013.append(TeamStats(team_id = team, season ='2013-14').overall())

In [96]:
df_RANK2014 = pd.DataFrame()
for team in TEAMS:
    df_RANK2014 = df_RANK2014.append(TeamStats(team_id = team, season ='2014-15').overall())

In [97]:
df_RANK2015 = pd.DataFrame()
for team in TEAMS:
    df_RANK2015 = df_RANK2015.append(TeamStats(team_id = team, season ='2015-16').overall())

In [98]:
df_RANK2016 = pd.DataFrame()
for team in TEAMS:
    df_RANK2016 = df_RANK2016.append(TeamStats(team_id = team, season ='2016-17').overall())

In [101]:
#type(df_Rank2000)
#df_RANK2000
#df_RANK2000sort = df_RANK2000.sort_values(by= str, axis = df_RANK2000['3'], inplace=False)
df_RANK2000sort = df_RANK2000.sort_values(by=['W'], ascending=False)
df_RANK2001sort = df_RANK2001.sort_values(by=['W'], ascending=False)
df_RANK2002sort = df_RANK2002.sort_values(by=['W'], ascending=False)
df_RANK2003sort = df_RANK2003.sort_values(by=['W'], ascending=False)
df_RANK2004sort = df_RANK2004.sort_values(by=['W'], ascending=False)
df_RANK2005sort = df_RANK2005.sort_values(by=['W'], ascending=False)
df_RANK2006sort = df_RANK2006.sort_values(by=['W'], ascending=False)
df_RANK2007sort = df_RANK2007.sort_values(by=['W'], ascending=False)
df_RANK2008sort = df_RANK2008.sort_values(by=['W'], ascending=False)
df_RANK2009sort = df_RANK2009.sort_values(by=['W'], ascending=False)
df_RANK2010sort = df_RANK2010.sort_values(by=['W'], ascending=False)
df_RANK2011sort = df_RANK2011.sort_values(by=['W'], ascending=False)
df_RANK2012sort = df_RANK2012.sort_values(by=['W'], ascending=False)
df_RANK2013sort = df_RANK2013.sort_values(by=['W'], ascending=False)
df_RANK2014sort = df_RANK2014.sort_values(by=['W'], ascending=False)
df_RANK2015sort = df_RANK2015.sort_values(by=['W'], ascending=False)
df_RANK2016sort = df_RANK2016.sort_values(by=['W'], ascending=False)

#TeamSummary(team_id = '1610612737', season ='2000-01').season_ranks()
#df_RANK2000 = pd.DataFrame(RANK2000.season_ranks())
#df_RANK2000.columns
#df_RANK2000['W']
#df_RANK2000sort

In [102]:
df_RANK2000Top8 = df_RANK2000sort[0:8]
df_RANK2001Top8 = df_RANK2001sort[0:8]
df_RANK2002Top8 = df_RANK2002sort[0:8]
df_RANK2003Top8 = df_RANK2003sort[0:8]
df_RANK2004Top8 = df_RANK2004sort[0:8]
df_RANK2005Top8 = df_RANK2005sort[0:8]
df_RANK2006Top8 = df_RANK2006sort[0:8]
df_RANK2007Top8 = df_RANK2007sort[0:8]
df_RANK2008Top8 = df_RANK2008sort[0:8]
df_RANK2009Top8 = df_RANK2009sort[0:8]
df_RANK2010Top8 = df_RANK2010sort[0:8]
df_RANK2011Top8 = df_RANK2011sort[0:8]
df_RANK2012Top8 = df_RANK2012sort[0:8]
df_RANK2013Top8 = df_RANK2013sort[0:8]
df_RANK2014Top8 = df_RANK2014sort[0:8]
df_RANK2015Top8 = df_RANK2015sort[0:8]
df_RANK2016Top8 = df_RANK2016sort[0:8]



#df_RANK2000Top8

In [103]:
df_RANK2016Top8

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,1610612744,Golden State Warriors,82,67,15,0.817,48.2,43.1,87.1,0.495,...,1,1,1,1,1,1,1,1,10,Golden State Warriors
0,1610612759,San Antonio Spurs,82,61,21,0.744,48.3,39.3,83.7,0.469,...,1,1,1,1,1,1,1,1,10,San Antonio Spurs
0,1610612745,Houston Rockets,82,55,27,0.671,48.2,40.3,87.2,0.462,...,1,1,1,1,1,1,1,1,10,Houston Rockets
0,1610612738,Boston Celtics,82,53,29,0.646,48.2,38.6,85.1,0.454,...,1,1,1,1,1,1,1,1,10,Boston Celtics
0,1610612746,LA Clippers,82,51,31,0.622,48.2,39.5,83.2,0.475,...,1,1,1,1,1,1,1,1,10,LA Clippers
0,1610612762,Utah Jazz,82,51,31,0.622,48.2,37.0,79.5,0.466,...,1,1,1,1,1,1,1,1,10,Utah Jazz
0,1610612761,Toronto Raptors,82,51,31,0.622,48.2,39.2,84.4,0.464,...,1,1,1,1,1,1,1,1,10,Toronto Raptors
0,1610612739,Cleveland Cavaliers,82,51,31,0.622,48.5,39.9,84.9,0.470,...,1,1,1,1,1,1,1,1,10,Cleveland Cavaliers

In [104]:
df_RANK2016.columns

Index(['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK',
       'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK',
       'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK',
       'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK',
       'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK',
       'CFID', 'CFPARAMS'],
      dtype='object')